﻿<div class="container" ng-controller="k3InquiryCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">K3 Inquiry</h2>
            <div class="lv-actions actions">
                <button class="btn bgm-lightgreen btn-icon"
                        type="button"
                        aria-label="button"
                        ng-click="BroadCastDeclaration({declarationNo:NEW})" has-Right data-rightValue="DeclarationK3.DeclarationK3" data-accessRight="1">
                    <i class="zmdi zmdi-plus" aria-hidden="true"></i>

                </button>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="card-body card-padding ">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading>
                        <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                    </uib-accordion-heading>
                    <div class="">
                        <div class="card-body card-padding ">
                            <form id="k3InquiryCntrl.frmSearch" name="k3InquiryCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}" ng-submit="GetTableData(true)" novalidate>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Order No.</label>
                                            <input type="text"
                                                   ng-model="i.orderNo" />
                                        </md-input-container>
                                    </div>

                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Declaration No.</label>
                                            <input type="text"
                                                   ng-model="i.declarationNo" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Manifest No.</label>
                                            <input type="text"
                                                   ng-model="i.manifestNo" />
                                        </md-input-container>
                                    </div>
                                    <!--<div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Ocean B/L No.</label>
                                            <input type="text"
                                                   ng-model="i.oceanBLNo" />
                                        </md-input-container>
                                    </div>-->
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Ocean B/L No.</label>
                                            <input type="text"
                                                   ng-model="i.oceanBLNo" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>House B/L No.</label>
                                            <input type="text"
                                                   ng-model="i.houseBLNo" />
                                        </md-input-container>
                                    </div>

                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Voyage No.</label>
                                            <input type="text"
                                                   ng-model="i.voyageNo" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Date From</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateFrom" format="{{dateFormat}}"
                                                   min-date="date" ng-model="i.dateFrom">
                                        </md-input-container>
                                    </div>

                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Date To</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateTo" format="{{dateFormat}}"
                                                   min-date="date" ng-model="i.dateTo">
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-1">
                                        <input type="hidden"
                                               ng-model="i.declarationType"
                                               ng-init="i.declarationType = 9103" />
                                        <button ng-click="SearchSubmitted = true;"
                                                 type="submit" 
                                                class="btn btn-primary">
                                        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </uib-accordion>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table  table-vmiddle" ng-table="ngTblData">
                            <!--<!--<thead>
                                <tr>
                                    <th>#Action</th>
                                    <th>Declaration No.</th>
                                    <th>Manifest No.</th>
                                    <th>Ocean B/L No.</th>
                                    <th>House B/L No.</th>
                                    <th>Voyage No.</th>
                                    <th>Vessel Name</th>
                                    <th>Exporter/Importer</th>
                                    <th>LP</th>
                                    <th>DP</th>
                                    <th>TP</th>

                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>-->
                            <tr ng-repeat="item in $data">
                                <td data-title="'#Action'">
                                    <button class="btn btn-default ng-scope waves-effect"
                                            type="button"
                                            ng-click="BroadCastDeclaration({declarationNo:item.DeclarationNo})"
                                            aria-label="button">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                </td>
                                <td>                                
                                <td data-title="'Declaration No.'" sortable="'DeclarationNo'">
                                    <a style="cursor:pointer;" ng-click="BroadCastDeclaration({declarationNo:item.DeclarationNo})">{{item.DeclarationNo}}</a>
                                </td>
                                <td data-title="'Order No.'" sortable="'OrderNo'">{{item.OrderNo}}</td>
                                <!--<td data-title="'Manifest No.'" sortable="'ManifestNo'">{{item.ManifestNo}}</td>-->
                                <td data-title="'Ocean B/L No.'" sortable="'OceanBLNo'">{{item.OceanBLNo}}</td>
                                <td data-title="'House B/L No.'" sortable="'HouseBLNo'">{{item.HouseBLNo}}</td>
                                <td data-title="'Voyage No.'" sortable="'VoyageNo'">{{item.VoyageNo}}</td>
                                <!--<td data-title="'Vessel Name'" sortable="'VesselName'">{{item.VesselName}}</td>-->
                                <td data-title="'Exporter'" sortable="'LocalTraderName'">{{item.LocalTraderName}}</td>
                                <td data-title="'Loading Port'" sortable="'LoadingPortName'">{{item.LoadingPortName}}</td>
                                <td data-title="'Discharge Port'" sortable="'DischargePortName'">{{item.DischargePortName}}</td>
                                <td data-title="'Final Destination Port'" sortable="'FinalDestinationPortName'">{{item.FinalDestinationPortName}}</td>
                                <td data-title="'Status'" sortable="'Status'">
                                    <span ng-style="item.OrderStatus === 'Declined' ? { color:'red' } : item.OrderStatus === 'Declaration Generated' ? { color:'green' } : item.OrderStatus === 'Partially Saved' ? { color:'blue' } : {color:'orange' }">{{item.OrderStatus}}</span> 
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12" ng-if="declarations.length == 0">
                        <label>{{dataGridNorecords}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <button type="button" class="btn btn-info m-t-15" ng-click="refresh()"> <i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <div class="col-xs-12 col-md-6">
                    <uib-pagination ng-model="currentPage"
                                    total-items="totalItems"
                                    ng-change="pageChanged()"
                                    class="pagination-sm pull-right"
                                    max-size="10"
                                    items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
        </div>
        <!--<div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>-->
    </div>
</div>