﻿<div class="" ng-controller="addEquipmentCostEntry">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">Equipment Cost Entry</h2>
        </div>

        <div class="card-body card-padding p-t-25 p-b-25">


            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Truck ID</label>

                        <md-select ng-model="" ng-required="">
                            <md-option ng-repeat="" ng-value="item.Value">
                                {{item.Text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                   
             
                   
                </div>
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Trailer ID</label>

                        <md-select ng-model="" ng-required="">
                            <md-option ng-repeat="" ng-value="item.Value">
                                {{item.Text}}
                            </md-option>
                        </md-select>
                    </md-input-container> 
               
                   
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Charge Code</label>

                        <md-select ng-model="" ng-required="">
                            <md-option ng-repeat="" ng-value="item.Value">
                                {{item.Text}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm> <input type="text" class="form-control input-sm" /></md-input-container>
</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Remarks</label>

                        <textarea rows="3"></textarea>
                    </md-input-container>
                  
</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Billing Unit</label>

                        <md-select ng-model="" ng-required="">
                            <md-option ng-repeat="" ng-value="item.Value">
                                {{item.Text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
               
                   
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Quantity</label>

                        <md-select ng-model="" ng-required="">
                            <md-option ng-repeat="" ng-value="item.Value">
                                {{item.Text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
               
                  
                </div>
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Amt. With Tax</label>


                        <md-select ng-model="" ng-required="">
                            <md-option ng-repeat="" ng-value="item.Value">
                                {{item.Text}}
                            </md-option>
                        </md-select>
                    </md-input-container>


                  
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Unit Price</label>
                        <md-select ng-model="" ng-required="">
                            <md-option ng-repeat="" ng-value="item.Value">
                                {{item.Text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Tax Amt.</label>
                        <md-select ng-model="" ng-required="">
                            <md-option ng-repeat="" ng-value="item.Value">
                                {{item.Text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
               
                  
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>GST Code</label>

                        <md-select ng-model="" ng-required="">
                            <md-option ng-repeat="" ng-value="item.Value">
                                {{item.Text}}
                            </md-option>
                        </md-select>
                    </md-input-container>


                 
                </div>
                <div class="col-xs-12 col-md-6">
                    <md-input-container class="md-block" flex-gt-sm>   <input type="text" class="form-control input-sm" /></md-input-container>
</div>
            </div>
        </div>
    </div>



    <div class="card">
        <div class="card-body card-padding p-t-5 p-b-5">
            <div class="row">
                <div class="col-xs-12 m-t-15 m-b-10">
                    <button type="button" class="btn btn-primary waves-effect" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp;Save</button>

                    <div class="pull-right">
                        <button class="btn btn-default  waves-effect" type="button" ng-click="clear();">
                            <i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear
                        </button>
                        <button class="btn btn-primary btn btn-primary waves-effect" type="button" data-ui-sref="k1Inquiry" data-ng-click="mactrl.sidebarStat($event)">
                            <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
