﻿<div class="container" data-ng-controller="RegistrationListCntrl as RegistrationListCntrl">
    <script type="text/ng-template" id="delete-status.html">
        <style type="text/css">
            .Rejectcontainer {
                width: 100%;
                margin: 10px;
            }
        </style>
        <div class="Rejectcontainer">
            <form id="RegistrationListCntrl.frmDelete" name="RegistrationListCntrl.frmDelete" ng-class="{'submitted': DeleteSubmitted}" ng-submit="Delete(remarks)" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Remarks</label>
                            <textarea ng-model="remarks" ng-required="true" md-maxlength="100" logicon-limit rows="3" md-select-on-focus style="overflow-y:auto"></textarea>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12  col-md-6">
                        <button ng-click="isOpenRemarksPP = false" type="button" class="btn btn-default btn-block">Cancel</button>
                    </div>
                    <div class="col-xs-12  col-md-6">
                        <button ng-click="DeleteSubmitted = true;" type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">Registration List</h2>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="Advanced Search" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <uib-accordion-heading>
                                <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card">
                                        <div class="card-body card-padding p-t-25 p-b-25">
                                            <form id="RegistrationListCntrl.frmSearch" name="RegistrationListCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}" ng-submit="GetTableData()" novalidate>
                                                <div class="row">
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Company Name</label>
                                                            <input type="text"
                                                                   ng-model="Search.CompanyName" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Registration No.</label>
                                                            <input type="text"
                                                                   ng-model="Search.RegistrationNo" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Email</label>
                                                            <input type="text"
                                                                   ng-model="Search.Email" />
                                                        </md-input-container>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>GST No.</label>
                                                            <input type="text"
                                                                   ng-model="Search.GSTNo" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Invoice No.</label>
                                                            <input type="text"
                                                                   ng-model="Search.InvoiceNo" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Receipt No.</label>
                                                            <input type="text"
                                                                   ng-model="Search.ReceiptNo" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Date From</label>
                                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                                                                   min-date="date" ng-model="Search.DateFrom">
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-sm-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Date To</label>
                                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateTo" format="{{dateFormat}}"
                                                                   min-date="date" ng-model="Search.DateTo">
                                                        </md-input-container>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Registration Status</label>
                                                            <md-select ng-model="Search.filter">
                                                                <md-option value="All">All</md-option>
                                                                <md-option ng-repeat="item in lookUpData.registrationStatusList" ng-value="item.Value">
                                                                    {{item.Text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-sm-12 col-md-2">
                                                        <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-vmiddle" ng-table="ngTblData">
                            <!--<thead>
                                <tr>
                                    <th>#Action</th>
                                    <th>Email ID</th>
                                    <th>Company Name</th>
                                    <th>Reg. No.</th>
                                    <th>Reg. Type</th>
                                    <th>Org. Type</th>
                                    <th>CPAM A/C No.</th>
                                    <th>Status</th>
                                </tr>
                            </thead>-->
                            <tbody>
                                <tr ng-repeat="com in $data">
                                    <td>
                                        <button class="btn btn-default ng-scope waves-effect"
                                                type="button"
                                                data-ui-sref="companydetails({companyID:com.CompanyID})"
                                                aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <!--<button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="viewInfo(com.CompanyID);" aria-label="button">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            
                                        </button>-->
                                        <button class="btn btn-danger ng-scope waves-effect" type="button" 
                                                uib-tooltip="Delete" 
                                                popover-placement="top" 
                                                ng-click="validateRecord(com.CompanyID)" 
                                                popover-is-open="isOpenRemarksPP" 
                                                uib-popover-template="'delete-status.html'" aria-label="button">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </td>
                                    <td data-title="'Email ID.'" sortable="'RegisteredEmailID'">{{com.RegisteredEmailID}}</td>
                                    <td data-title="'Company Name.'" sortable="'CompanyName'">{{com.CompanyName}}</td>
                                    <td data-title="'Reg. No.'" sortable="'RegistrationNo'">{{com.RegistrationNo}}</td>
                                    <!--<td data-title="'Reg. Type.'" sortable="'RegistrationTypeDescription'">{{com.RegistrationTypeDescription }}</td>-->
                                    <td data-title="'Org. Type.'" sortable="'OrganisationTypeDescription'">{{com.OrganisationTypeDescription }}</td>
                                    <td data-title="'CPAM A/C No.'" sortable="'CPAMAccountNo'">{{com.CPAMAccountNo}}</td>
                                    <td data-title="'Status.'" sortable="'RegistrationStatusDescription'">{{com.RegistrationStatusDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--<div class="row" ng-show="companies.length > 0">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-primary" ng-click="ExportData('excel','application/vnd.ms-excel');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel</button>
                    <button type="button" class="btn btn-primary" ng-click="ExportData('pdf','application/pdf');"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Pdf</button>
                </div>
            </div>-->
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <button type="button" class="btn btn-info" ng-click="refresh()"><i class="fa fa-refresh "></i> Refresh</button>
                </div>
            </div>
        </div>
    </div>
</div>
