﻿<div class="container" ng-controller="ContainerRequestCntrl">
    <form id="frmContainerRequest" name="frmContainerRequest" ng-class="{'submitted':submitted}" ng-submit="SaveConRequest(cr)" novalidate>

        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">Container Request</h3>
                <ul class="lv-actions actions">
                    <li>
                        <button class="btn bgm-lightgreen btn-icon m-r-5" data-ui-sref="Addcontainerrequest()"><i class="zmdi zmdi-plus"></i></button>
                    </li>
                </ul>
            </div>
            <div class="card-body card-padding p-t-5 p-b-5">
                <div class="row">
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Haulier Code</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-model="cr.containerHeader.HaulierName" name="cr.HaulierName"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'haulier')"
                                   typeahead-wait-ms="300"
                                   typeahead-editable="false"
                                   typeahead-on-select="MerchantSelected($item, 'HaulierCode')"
                                   ng-required="true" />
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Request Date</label>
                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" ng-model="cr.containerHeader.RequestDate"
                                   ng-required="true" type="text" id="TransactionDate" format="{{DateFormat}}"
                                   min-date="date">
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Consignee</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-model="cr.containerHeader.BillToName" name="cr.containerHeader.BillToName"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Shipper')"
                                   typeahead-wait-ms="300"
                                   typeahead-editable="false"
                                   typeahead-on-select="VesselSelected($item, 'VesselID')"
                                   ng-required="true" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Pickup From</label>
                            <input type="text" ng-model="cr.containerHeader.PickupFrom" />
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Request Time</label>
                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" ng-model="cr.containerHeader.RequestTime"
                                   ng-required="true" type="text" id="TransactionDate" format="{{DateFormat}}"
                                   min-date="date">
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Shipping Agent</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-model="cr.containerHeader.Liner" name="cr.containerHeader.BillToName"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Liner')"
                                   typeahead-wait-ms="300"
                                   typeahead-editable="false"
                                   typeahead-on-select="MerchantSelected($item, 'BillToCode')"
                                   ng-required="true" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Drop Off To</label>
                            <input type="text" ng-model="cr.containerHeader.DropOffCode" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>ROT No.</label>
                            <input type="text" ng-model="cr.containerHeader.ROTNo" />
                        </md-input-container>
                    </div>
                  
                    <div class="col-xs-12 col-md-2">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Vessel Name</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-model="cr.containerHeader.VesselID"
                                   typeahead-min-length="3"
                                   uib-typeahead="d for d in VesselNameResults2($viewValue)"
                                   typeahead-wait-ms="100"
                                   typeahead-editable="false"
                                   typeahead-on-select="VoyageSelected($item)" />
                        </md-input-container>


                    </div>
                    <div class="col-xs-12 col-md-2">
                        <md-input-container class="md-block" flex-gt-sm> <input type="text" /></md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Bill To</label>
                            <md-select ng-model="cr.containerHeader.RequestDate" ng-required="">
                                <md-option ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Commodity</label>
                            <input type="text" />
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>ETA</label>
                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" ng-model="cr.containerHeader.ETA"
                                   ng-required="true" type="text" id="TransactionDate" format="{{DateFormat}}"
                                   min-date="date">
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Remarks</label>
                            <textarea ng-model="cr.containerHeader.Remark"></textarea>
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Liner Ref.</label>
                            <input type="text" ng-model="cr.containerHeader.LinerRefNo" />
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Ship Call No.</label>
                            <input type="text" ng-model="cr.containerHeader.ShipCallNo" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="button" ng-click="AddContainerRequest(-1);" has-Right data-rightValue="DeclarationK1.UploadDocument" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add</button>
                    </div>
                </div>
                <div class="row m-b-20 m-t-20">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table  table-vmiddle">
                                <thead>
                                    <tr>
                                        
                                        <th>Type Size</th>
                                        <th>Container No.</th>
                                        <th>Order No.</th>
                                        <th>Status</th>
                                        <th>Delivery To</th>
                                        <th>Delivery Address 1</th>
                                        <th>Delivery Address 2</th>
                                        <th>Req Date/Time</th>
                                        <th>Empty Dehire</th>
                                        <th>Trailer Type</th>
                                        <th>Container Opr.</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in cr.containerDetails">

                                        <td>{{item.Size}}</td>
                                        <td>{{item.ContainerNo}}</td>
                                        <td>{{item.OrderrNo}}</td>
                                        <td>{{item.Status}}</td>
                                        <td>{{item.DeliveryTo}}</td>
                                        <td>{{item.DeliveryAddress}}</td>
                                        <td>{{item.DeliveryAddress2}}</td>
                                        <td>{{item.RequestDate}}</td>
                                        
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-body card-padding p-t-15 p-b-15">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-primary" ng-click="submitted=true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                            <button type="button" class="btn btn-warning"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Browse</button>
                            <button type="button" class="btn btn-default waves-effect"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>