﻿<style type="text/css">
    .tree-label {
        padding: 5px 10px;
    }

    .card li.tree-leaf:first-child .tree-label.tree-selected {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .card li.tree-leaf:last-child .tree-label.tree-selected {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .tree-label.tree-selected {
        background-color: rgb(199,56,64);
    }

        .tree-label.tree-selected a {
            color: #fff !important;
        }

    .card li.tree-leaf {
        padding: 0px;
    }
</style>
<div class="container" ng-controller="OperationalReportsCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">Operational Reports</h2>
        </div>
        <div class="card-body card-padding p-t-5 p-b-5">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="card">
                        <div class="lv-header-alt clearfix m-b-5">
                            <h2 class="lvh-label">Reports</h2>
                        </div>
                        <div class="card-body p-t-5 p-b-5">
                            <div class="card-body card-padding " style="max-height: 500px;overflow-y:auto;min-height:500px; ">
                                <treecontrol class="text-left" tree-model="treedata" expanded-nodes="expandedNodes" on-selection="showSelected(node)">
                                    <a tabindex="0" class="ellipsisCss">{{node.label}}</a><!-- uib-tooltip="{{node.label}}" -->
                                </treecontrol>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-8" ng-show="isSelected">
                    <div class="card">
                        <div class="lv-header-alt clearfix m-b-5">
                            <h2 class="lvh-label">{{selectedreportName}}</h2>
                        </div>
                        <div class="card-body p-t-5 p-b-5 p-l-10 p-r-10">
                            <form id="frmReport" name="frmReport" ng-class="{'submitted': submitted}" ng-submit="GenerateReport(ope)" novalidate>
                                <div class="row m-t-20">

                                </div>
                                <div class="row ">
                                    <div class="col-xs-12 col-md-5">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Date From</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                                                   min-date="date" ng-model="ope.DateFrom">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-5">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Date To</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateTo" format="{{dateFormat}}"
                                                   min-date="date" ng-model="ope.DateTo">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row "></div>
                                <div class="row ">
                                    <div class="col-xs-12">
                                        <button class="btn btn-default" type="button" ng-click="clear();"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                                        <span class="pull-right">
                                            <button class="btn btn-success" type="submit" ng-click="submitted = true;"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Generate Report</button>
                                        </span>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
