﻿<div class="container" ng-controller="SubscriberInquiryCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h3 class="lvh-label">Subscriber Inquiry</h3>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">

            <div class="row">
                <div class="col-xs-12">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="Advanced Search" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <uib-accordion-heading>
                                <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card">
                                        <div class="card-body card-padding p-t-25 p-b-25">
                                            <form id="frmSearchPendingBilling" name="frmSearchPendingBilling" ng-class="{'submitted':SearchSubmitted}" ng-submit="SearchPendingBilling(pb)" novalidate>
                                                <div class="row">
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Subscriber Name</label>
                                                            <input type="text"
                                                                   class="search-icon"
                                                                   ng-required="true"
                                                                   ng-class="{'loadinggif': pb.nameLoading}"
                                                                   ng-model="pb.name"
                                                                   typeahead-min-length="3"
                                                                   uib-typeahead="d.Text as d.Text for d in CompanyResults($viewValue, 'billingCustomer')"
                                                                   typeahead-loading="pb.nameLoading"
                                                                   typeahead-wait-ms="100"
                                                                   typeahead-editable="false"
                                                                   typeahead-on-select="CompanySelected($item, 'CompanyCode')" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Subscription Type</label>
                                                            <md-select ng-model="pb.type" ng-required="true">
                                                                <md-option ng-repeat="item in lookupData.registrationTypeList" ng-value="item.Value">
                                                                    {{item.Text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-sm-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Date From</label>
                                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                                                                   min-date="date" ng-model="pb.FromDate" ng-required="true">
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-sm-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Date To</label>
                                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateTo" format="{{dateFormat}}"
                                                                   min-date="date" ng-model="pb.ToDate" ng-required="true">
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <!--<button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>-->
                                                        <button type="submit" class="btn btn-primary" ng-click="SearchSubmitted = true;"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                                                    </div>
                                                </div>

                                                <!--<div class="row">

                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>House B/L No.</label>
                                                            <input type="text"
                                                                   ng-model="i.HouseBLNo" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Voyage No.</label>
                                                            <input type="text"
                                                                   ng-model="i.voyageNo" />
                                                        </md-input-container>
                                                    </div>
                                                </div>-->
                                                <div class="row">


                                                    <!--<div class="col-sm-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Date From</label>
                                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                                                                   min-date="date" ng-model="i.DateFrom">
                                                        </md-input-container>
                                                    </div>-->
                                                    <!--<div class="col-sm-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Date To</label>
                                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateTo" format="{{dateFormat}}"
                                                                   min-date="date" ng-model="i.DateTo">
                                                        </md-input-container>
                                                    </div>-->

                                                </div>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
        <div class="row" ng-if="showSubscriber">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>
                                    #Action
                                </th>
                                <th>Company Name</th>
                                <th>Reg. No.</th>
                                <th>Gst. No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="com in subscriberList">
                                <td>
                                    <button class="btn btn-default ng-scope waves-effect"
                                            type="button"
                                            data-ui-sref="subscribers({companycode:com.CompanyCode})"
                                            aria-label="button" uib-tooltip="View" tooltip-placement="top">
                                        <i class="zmdi zmdi-exposure"></i>
                                    </button>
                                </td>
                                <td>{{com.CompanyName}}</td>
                                <td>{{com.RegNo}}</td>
                                <td>{{com.GSTNo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>