﻿<form id="frmQuotationDetails" name="frmQuotationDetails" ng-class="{'submitted': submitted}" ng-submit="SaveQuotationDetail(details);" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Customer Quotation Details</h4>
        <input type="hidden" ng-model="details.ItemId" />
        <input type="hidden" ng-model="details.Index" />
    </div>
    <div class="modal-body">
        <div class="c-overflow" ng-style="{'max-height': iframeHeight - 80 + 'px'}" resize>
            <div class="modalbodymain">

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Charge Code</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-model="details.ChargeDescription"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in ChargeCodeResults($viewValue, 'freightForwarder')"
                                   typeahead-on-select="OnChargeCodeSelect($item)"
                                   typeahead-loading="details.showLoading"
                                   typeahead-wait-ms="1000"
                                   typeahead-editable="false" ng-required="true" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label></label>
                            <input type="text" ng-model="details.PreparedBy" ng-disabled="true" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="checkbox m-b-15">
                            <label>
                                <input type="checkbox" value=""
                                       aria-label="Telex Release"
                                       ng-model="details.IsSlabRate">
                                <i class="input-helper"></i>
                                Slab-Rate
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="checkbox m-b-15">
                            <label>
                                <input type="checkbox" value="" ng-model="details.IsFlatRate"
                                       aria-label="Priority">
                                <i class="input-helper"></i>
                                Flat Rate
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Output GST code</label>
                            <input type="text"
                                   disabled
                                   ng-model="details.OutPutGSTCodeDescription" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Shipper</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-model="details.ShipperDescription"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Shipper')"
                                   typeahead-wait-ms="100"
                                   typeahead-editable="false"
                                   typeahead-on-select="CustomerSelected($item, 'Shipper')"
                                   ng-required="true" />
                        </md-input-container>

                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>From range</label>
                            <input type="text"
                                   ng-model="details.SlabFrom"
                                   ng-required="true"
                                   logicon-decimal
                                   logicon-format="2" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Input GST code</label>
                            <input type="text"
                                   ng-model="details.InputGSTCodeDescription"
                                   disabled />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Vendor</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-model="details.VenderCodeDescription"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'all')"
                                   typeahead-wait-ms="100"
                                   typeahead-editable="false"
                                   typeahead-on-select="CustomerSelected($item, 'VendorCode')"
                                   ng-required="true" />
                        </md-input-container>

                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>To range</label>
                            <input type="text"
                                   ng-model="details.SlabTo"
                                   ng-required="true"
                                   logicon-decimal
                                   logicon-format="2" />
                        </md-input-container>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Job Type</label>
                            <md-select ng-model="details.JobType" ng-change="details.JobTypeDescription = (lookupData.jobTypeList | filter: { Value: details.JobType})[0].Text"
                                       ng-required="true">
                                <md-option ng-repeat="item in lookupData.jobTypeList" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Billing Unit</label>
                            <md-select ng-model="details.BillingUnit"
                                       ng-required="true">
                                <md-option ng-repeat="item in lookupData.billingUnitList" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Base Quantity</label>
                            <input type="text"
                                   ng-model="details.BaseQty"
                                   ng-required="true"
                                   logicon-decimal
                                   logicon-format="2" />
                        </md-input-container>
                        <!--<md-input-container class="md-block" flex-gt-sm>
                            <label>From Area</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-model="details.CargoTypeDescription"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in ChargeCodeResults($viewValue, 'freightForwarder')"
                                   typeahead-on-select="details.ChargeCode = ($item.Value)"
                                   typeahead-loading="details.showLoading"
                                   typeahead-wait-ms="1000"
                                   typeahead-editable="false" ng-required="true" />
                        </md-input-container>-->

                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Job Category</label>
                            <md-select ng-model="details.JobCategory" ng-required="true">
                                <md-option ng-repeat="item in lookupData.jobCategoryList" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>

                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Currency</label>
                            <md-select ng-model="details.CurrencyCode" ng-required="true">
                                <md-option ng-repeat="item in lookupData.defaultCurrency" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Base amount</label>
                            <input type="text"
                                   ng-model="details.BaseAmt"
                                   ng-required="true"
                                   logicon-decimal
                                   logicon-format="2" />
                        </md-input-container>
                        <!--<md-input-container class="md-block" flex-gt-sm>
                            <label>To Area</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-model="details.CargoTypeDescription"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in ChargeCodeResults($viewValue, 'freightForwarder')"
                                   typeahead-on-select="details.ChargeCode = ($item.Value)"
                                   typeahead-loading="details.showLoading"
                                   typeahead-wait-ms="1000"
                                   typeahead-editable="false" ng-required="true" />
                        </md-input-container>-->
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Shipment Type</label>
                            <md-select ng-model="details.ShipmentType"
                                       ng-change="details.ShipmentTypeDescription = (lookupData.shipmentTypeList | filter: { Value: details.ShipmentType})[0].Text"
                                       ng-required="true">
                                <md-option ng-repeat="item in lookupData.shipmentTypeList"
                                           ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>

                        </md-input-container>
                    </div>
              
                   
               
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Transport Type</label>
                            <md-select ng-model="details.TransportType"
                                       ng-required="true">
                                <md-option ng-repeat="item in lookupData.transportModeList" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>

                        </md-input-container>
                    </div>
              
                   
               
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Trailer Type</label>
                            <md-select ng-model="details.TrailerType">
                                <md-option ng-repeat="item in lookupData.trailerType" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                  
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Special Handling</label>
                            <md-select ng-model="details.SpecialHandling">
                                <md-option ng-repeat="item in lookupData.splHandlingList" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                 
               
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cargo Handling</label>
                            <md-select ng-model="details.CargoHandling">
                                <md-option ng-repeat="item in lookupData.cargoHandlingList" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>

                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Selling Rate</label>
                            <input type="text"
                                   ng-model="details.SellRate"
                                   ng-required="true"
                                   logicon-decimal
                                   logicon-format="2" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cargo Type</label>
                            <md-select ng-model="details.CargoType">
                                <md-option ng-repeat="item in lookupData.cargoTypeList" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Est Cost</label>
                            <input type="text"
                                   ng-model="details.EstCost"
                                   ng-required="true"
                                   logicon-decimal
                                   logicon-format="2" />
                        </md-input-container>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Commodity</label>
                            <md-select ng-model="details.Commodity">
                                <md-option value="1000">
                                    COMMODITY
                                </md-option>
                            </md-select>

                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Min amount</label>
                            <input type="text"
                                   ng-model="details.MinAmt"
                                   logicon-decimal
                                   logicon-format="2" />
                        </md-input-container>
                    </div>

                 
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Max amount</label>
                            <input type="text"
                                   ng-model="details.MaxAmnt"
                                   logicon-decimal
                                   logicon-format="2" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Size </label>
                            <md-select ng-model="details.Size" ng-change="sizeChanged();">
                                <md-option ng-repeat="item in lookupData.sizeList" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Size Type</label>
                            <md-select ng-model="details.Type"
                                       ng-disabled="details.Size == null">
                                <md-option ng-repeat="item in lookupData.TypeList" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Remarks</label>
                            <textarea class="form-control" ng-model="details.Remarks"></textarea>
                        </md-input-container>
                    </div>
             
                   
                  
                   
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12 col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>