﻿<div class="container" ng-controller="TransportRequestCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h3 class="lvh-label">Transport Request</h3>
            <button popover="Copy to new Order Entry Form" class="btn bgm-gray waves-effect pull-right" style="margin-right:15px;" aria-hidden="false"><i class="zmdi zmdi-copy"></i></button>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Details" class="md-primary">
                    <md-content class="md-padding">
                        <div class="card">
                            <div class="card-body card-padding p-t-25 p-b-25">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-lg-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Forwarding Job No</label>
                                            <input type="text" class="search-icon" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-md-6 ">
                                        <div class="card">
                                            <div class="lv-header-alt clearfix m-b-5">
                                                <h3 class="lvh-label">Haulier</h3>
                                            </div>
                                            <div class="card-body card-padding p-t-25 p-b-25">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Haulier</label>
                                                    <input type="text" class="search-icon" />
                                                </md-input-container>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-12 col-md-6 ">

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>ROT Serial Number</label>
                                            <input type="text" />
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Requset No./Date/Time</label>
                                            <input type="text" />
                                        </md-input-container>

                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Container Deposite Area(CDA)</label>
                                            <input type="text" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6 ">

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Port Booking Ref. No.</label>
                                            <input type="text" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Amount RM</label>
                                            <input type="text" value="0.00" />
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Container" class="md-primary">
                    <md-content class="md-padding">
                        <div class="card">
                            <div class="card-body card-padding p-t-25 p-b-25">

                                <div class="row">

                                    <div class="col-xs-12 ">
                                        <div class="card">
                                            <div class="lv-header-alt clearfix m-b-5">
                                                <h3 class="lvh-label">Single</h3>
                                            </div>
                                            <div class="card-body card-padding p-t-25 p-b-25">
                                                <div class="row">

                                                    <div class="col-xs-12 col-md-6 ">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>No.of Container</label>
                                                            <input type="text" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 ">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Container Status</label>
                                                            <md-select ng-model="">
                                                                <md-option ng-value="item.Value">
                                                                    {{item.Text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-xs-12 col-md-6 ">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label> Container Weight(TNE)</label>
                                                            <input type="text" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 ">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Container Type Size</label>
                                                            <md-select ng-model="">
                                                                <md-option ng-value="item.Value">
                                                                    {{item.Text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-xs-12 col-md-6 ">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label> Seal No.</label>
                                                            <input type="text" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 ">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Commodity (Cargo)</label>
                                                            <input type="text" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-xs-12 col-md-6 ">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>  Container No.</label>
                                                            <input type="text" />
                                                        </md-input-container>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-12  ">


                                        <div class="card">
                                            <div class="lv-header-alt clearfix m-b-5">
                                                <h3 class="lvh-label">Multiple</h3>
                                            </div>
                                            <div class="card-body card-padding p-t-25 p-b-25">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="table-responsive">
                                                        <table class="table  table-vmiddle">
                                                                <thead>
                                                                    <tr>
                                                                        <th>CNTR NO.</th>
                                                                        <th>SEAL NO.</th>
                                                                        <th>CNTR SIZE</th>
                                                                        <th>CNTR Status</th>
                                                                        <th>weight</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Transportation Details" class="md-primary">
                    <md-content class="md-padding">
                        <div class="card">
                            <div class="card-body card-padding p-t-25 p-b-25">


                                <div class="row">

                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>port code(SCN)</label>
                                            <input type="text" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Import/Export/others</label>
                                            <md-select ng-model="">
                                                <md-option ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Type of Delivery</label>
                                            <md-select ng-model="">
                                                <md-option ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Special Handling</label>
                                            <md-select ng-model="">
                                                <md-option ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Trip</label>
                                            <md-select ng-model="">
                                                <md-option ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Vessel Name</label>
                                            <input type="text" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>trnshipment port</label>
                                            <input type="text" class="search-icon" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Voyage No.</label>
                                            <input type="text" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Destination Port</label>
                                            <input type="text" class="search-icon" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6 ">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>ETA</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateFrom" format="{{dateFormat}}"
                                                   min-date="date" ng-model=""
                                                   name="">
                                        </md-input-container>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Location and Billing" class="md-primary">
                    <md-content class="md-padding">
                        <div class="card">
                            <div class="card-body card-padding p-t-25 p-b-25">


                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="card">
                                                    <div class="lv-header-alt clearfix m-b-5">
                                                        <h3 class="lvh-label">from location</h3>
                                                    </div>
                                                    <div class="card-body card-padding p-t-25 p-b-25">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>from location</label>
                                                            <input type="text" class="search-icon" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="card">
                                                    <div class="lv-header-alt clearfix m-b-5">
                                                        <h3 class="lvh-label">To location</h3>
                                                    </div>
                                                    <div class="card-body card-padding p-t-25 p-b-25">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>To location</label>
                                                            <input type="text" class="search-icon" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>A/C NO.</label>
                                                            <input type="text" class="search-icon" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="lv-header-alt clearfix m-b-5">
                                                        <h3 class="lvh-label">Bill To</h3>
                                                    </div>
                                                    <div class="card-body card-padding p-t-25 p-b-25">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Bill To</label>
                                                            <input type="text" class="search-icon" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Bill To Tel</label>
                                                            <input type="text" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Bill To Contact</label>
                                                            <input type="text" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="lv-header-alt clearfix m-b-5">
                                                        <h3 class="lvh-label">Empty Container Drop Off</h3>
                                                    </div>
                                                    <div class="card-body card-padding p-t-25 p-b-25">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Empty Container Drop Off</label>
                                                            <input type="text" class="search-icon" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="card">


                                                    <div class="lv-header-alt clearfix m-b-5">
                                                        <h3 class="lvh-label">Shipper/Consignee</h3>
                                                    </div>
                                                    <div class="card-body card-padding p-t-25 p-b-25">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Shipper/Consignee</label>
                                                            <input type="text" class="search-icon" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="card">
                                                    <div class="lv-header-alt clearfix m-b-5">
                                                        <h3 class="lvh-label">Forwarding Agent</h3>
                                                    </div>
                                                    <div class="card-body card-padding p-t-25 p-b-25">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Forwarding Agent</label>
                                                            <input type="text" class="search-icon" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="card">


                                                    <div class="lv-header-alt clearfix m-b-5">
                                                        <h3 class="lvh-label"> Shipping Agent</h3>
                                                    </div>
                                                    <div class="card-body card-padding p-t-25 p-b-25">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label> Shipping Agent</label>
                                                            <input type="text" class="search-icon" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="card">
                                                    <div class="lv-header-alt clearfix m-b-5">
                                                        <h3 class="lvh-label"> Container Operator</h3>
                                                    </div>
                                                    <div class="card-body card-padding p-t-25 p-b-25">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label> Container Operator</label>
                                                            <input type="text" class="search-icon" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Location and Billing" class="md-primary">
                    <md-content class="md-padding">
                        <div class="card">
                            <div class="card-body card-padding p-t-25 p-b-25">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label> required date</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateFrom" format="{{dateFormat}}"
                                                   min-date="date" ng-model=""
                                                   name="">
                                        </md-input-container>

                                    </div><div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label> time</label>
                                            <input mdc-datetime-picker="" class="date-time-icon" date="false" time="true" type="text" id="dateFrom" format="{{dateFormat}}"
                                                   min-date="date" ng-model=""
                                                   name="">
                                        </md-input-container>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>  off load</label>
                                            <md-select ng-model="">
                                                <md-option ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                    </div><div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label> requested By</label>
                                            <input type="text" />
                                        </md-input-container>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab><md-tab label="for office use only" class="md-primary">
                    <md-content class="md-padding">
                        <div class="card">
                            <div class="card-body card-padding p-t-25 p-b-25">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>  mode of payment</label>
                                            <input type="text" />
                                        </md-input-container>
                                    </div><div class="col-xs-1">
                                        <div class="checkbox m-b-15">
                                            <label>
                                                <input value="" ng-click="toggleChksCargo()" aria-label="Priority" type="checkbox">
                                                <i class="input-helper"></i>
                                                EiR
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-xs-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label> thers</label>
                                            <input type="text" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>   Bank</label>
                                            <input type="text" />
                                        </md-input-container>
                                    </div><div class="col-xs-1">
                                        <div class="checkbox m-b-15">
                                            <label>
                                                <input value="" ng-click="toggleChksCargo()" aria-label="Priority" type="checkbox">
                                                <i class="input-helper"></i>
                                                CMO
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-xs-6">
                                        <md-input-container class="md-block" flex-gt-sm>

                                            <input type="text" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>   cheque No</label>
                                            <input type="text" />
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>

            <div class="row m-t-15">
                <div class="col-xs-6 text-left">
                    <button type="submit" class="btn btn-primary waves-effect">
                        New
                    </button>
                    <button type="submit" class="btn btn-primary waves-effect">
                        Reset
                    </button>
                    <button type="submit" class="btn btn-primary waves-effect">
                        Save
                    </button>
                    <button type="submit" class="btn btn-primary waves-effect">
                        Send
                    </button>
                    <button type="submit" class="btn btn-primary waves-effect">
                        Print
                    </button>
                </div>
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-default waves-effect">
                        cancel
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
