﻿<style>
    /*.treeview-checkbox[type=checkbox]:after {
    content: attr(value);
    margin: -3px 15px;
    vertical-align: top;
    display: inline-block;
    white-space:nowrap;
    cursor:pointer;
}*/
      .treeview-checkbox{  position: relative;
    top: 3px;
    left: 10px;}
      /*, .tree-view-wrapper li ul li ul li .active > .treeRadio, .tree-view-wrapper > li >.radioctn*/
    .tree-view-wrapper .treeRadio, .tree-view-wrapper > .treeRadio{
        display:none;
    }
      .tree-view-wrapper > li  .active  .treeRadio{
        display:block;
    }
   .treeRadio {
    position: absolute;
    top: 20px;
    left: 520px;
    width: 200px;
}

     .tree-view-wrapper li ul.show li ul.show li.hide{
    display:block !important;}
 
</style>
<div class="container" ng-controller="RoleRightsCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label hidden-xs">Role Rights</h2>
        </div>
        <div class="card-body card-padding">
            <form id="frmRoleRights" name="frmRoleRights" ng-submit="SaveRoleRights(nodes)" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Roles</label>
                            <md-select ng-model="rr.role" ng-change="roleChanged()" ng-required="true">
                                <md-option ng-repeat="role in rolesList" ng-value="role.RoleCode">{{role.RoleCode}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <tree-view checkbox model="nodes" selected-node="SelectedNodeClick()" ></tree-view>
                    </div>
                    <div class="col-xs-7" >
                        

                        <!--<div class="row">

                            <div class="col-xs-12 ">
                                <div class="radio m-b-15">
                                    <label>
                                        <input name="sample"
                                               ng-model="n.Access"
                                               ng-value="1"
                                               type="radio">
                                        <i class="input-helper"></i>
                                        Read Only
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 ">
                                <div class="radio m-b-15">
                                    <label>
                                        <input name="sample"
                                               ng-model="n.Access"
                                               ng-value="2"
                                               type="radio">
                                        <i class="input-helper"></i>
                                        Read Write
                                    </label>
                                </div>

                            </div>
                            <div class="col-xs-12 ">
                                <div class="radio m-b-15">
                                    <label>
                                        <input name="sample"
                                               ng-model="n.Access"
                                               ng-value="3"
                                               type="radio">
                                        <i class="input-helper"></i>
                                        Delete
                                    </label>
                                </div>

                            </div>
                            <div class="col-xs-12 ">
                                <div class="radio m-b-15">
                                    <label>
                                        <input name="sample"
                                               ng-model="n.Access"
                                               ng-value="4"
                                               type="radio">
                                        <i class="input-helper"></i>
                                        Full Access
                                    </label>
                                </div>

                            </div>
                        </div>-->
                    </div>
                </div>



                <!--click="myClick(node)"-->
                <!--<div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <div class="lv-header-alt clearfix m-b-5">
                                <h3 class="lvh-label">Access Rights</h3>
                            </div>
                            <div class="card-body card-padding p-t-25 p-b-25" style="max-height: 500px;overflow-y:auto;min-height:500px;">
                                <treecontrol class="tree-light" tree-model="treedata" expanded-nodes="expandedNodes" on-selection="showSelected(node)">
                                    <a tabindex="0" class="ellipsisCss">{{node.label}}</a>
                                </treecontrol>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!--<div class="row">
                    <div class="col-xs-12">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab ng-repeat="item in securables" label="{{item.key}}" class="md-primary">
                                <md-content class="md-padding">
                                    <div class="card">
                                        <div class="card-body card-padding">
                                            <div ng-repeat="sec in item.List">
                                                <md-switch class="md-primary"
                                                           aria-label="Operation"
                                                           ng-model="sec.IsSelected">
                                                    {{sec.SecurableItem}}
                                                </md-switch>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-xs-12  m-t-15 m-b-10">
                        <button type="submit" ng-click="submitted = true" class="btn btn-primary pull-left"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>