﻿<div class="container" ng-controller="k1AInquiryCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">K1A INQUIRY</h2>
            <ul class="lv-actions actions">
                <li>
                    <button class="btn bgm-lightgreen btn-icon" ng-click="BroadCastDeclaration({declarationNo:'NEW'})" ><i class="zmdi zmdi-plus"></i></button>&nbsp;&nbsp;&nbsp;
                </li>
            </ul>
        </div>
        <div class="card-body card-padding p-t-5 p-b-5">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading>
                        <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                    </uib-accordion-heading>
                    <div class="card">
                        <div class="card-body card-padding p-t-5 p-b-5">
                            <form id="k1AInquiryCntrl.frmSearch" name="k1AInquiryCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}" ng-submit="GetTableData(true)" novalidate>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Order No.</label>
                                            <input type="text"
                                                   ng-model="i.OrderNo" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Declaration No.</label>
                                            <input type="text"
                                                   ng-model="i.declarationNo" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>K1 Registration No</label>
                                            <input type="text"
                                                   ng-model="i.k1RegistrationNo" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Date From</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateFrom" format="{{dateFormat}}"
                                                   min-date="date" ng-model="i.dateFrom">
                                        </md-input-container>
                                    </div>

                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Date To</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateTo" format="{{dateFormat}}"
                                                   min-date="date" ng-model="i.dateTo">
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-1">
                                        <input type="hidden"
                                               ng-model="i.declarationType"
                                               ng-init="i.declarationType = 9101" />
                                        <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="row">
                <div class="table-responsive">
                    <div class="" style="min-height: 250px;">
                        <div class="table-responsive">
                            <table class="table table-vmiddle" ng-table="ngTblData">
                                <tr ng-repeat="w in $data">
                                    <td data-title="'#Action'">
                                        <button class="btn btn-default ng-scope waves-effect"
                                                type="button"
                                                ng-click="BroadCastDeclaration({declarationNo:w.DeclarationNo})"
                                                aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </td>
                                    <!--<td data-title="'Declaration No.'" sortable="'DeclarationNo'">
                                        <a data-ui-sref="k1Adeclaration({declarationNo:w.DeclarationNo})">{{w.DeclarationNo}}</a>
                                    </td>-->
                                    <td data-title="'Declaration No.'" sortable="'DeclarationNo'"><a style="cursor:pointer;" ng-click="BroadCastDeclaration({declarationNo:w.DeclarationNo})">{{w.DeclarationNo}}</a></td>
                                    <td data-title="'Order No.'" sortable="'OrderNo'">{{w.OrderNo}}</td>
                                    <td data-title="'K1 Registration No'" sortable="'K1RegistrationNo'">{{w.K1RegistrationNo}}</td>
                                    <!--<td data-title="''" sortable="'OceanBLNo'">{{w.OceanBLNo}}</td>
                                    <td data-title="''" sortable="'HouseBLNo'">{{w.HouseBLNo}}</td>-->
                                    <!--<td data-title="'" sortable="'VoyageNo'">{{w.VoyageNo}}</td>
                                    <td data-title="''" sortable="'VesselName'">{{w.VesselName}}</td>-->
                                    <td data-title="'Nature Of Transaction.'" sortable="'NatureOfTransaction'">{{w.NatureOfTransaction}}</td>
                                    <td data-title="'Exporter.'" sortable="'ExporterName'">{{w.ExporterName}}</td>
                                    <td data-title="'Discharge Port.'" sortable="'DischargePortName'">{{w.DischargePortName}}</td>
                                    <!--<td data-title="' '" sortable="'TranshipmentPortName'">{{w.TranshipmentPortName}}</td>-->
                                    <td data-title="'Status'" sortable="'Status'">
                                        <span ng-style="w.OrderStatus === 'Declined' ? { color:'red' } : w.OrderStatus === 'Declaration Generated' ? { color:'green' } : w.OrderStatus === 'Partially Saved' ? { color:'blue' } : {color:'orange' }">{{w.OrderStatus}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="col-md-3">
                        <button type="button" class="btn btn-info" ng-click="refresh()"><i class="fa fa-refresh "></i> Refresh</button>
                    </span>
                    <span class="text-center col-md-6">
                        <div class="lv-header-alt clearfix m-b-10">
                            <label style="color:green;">Please use "Advance Search for  listing more K1A Declaration Entries"</label>
                        </div>
                    </span>
                    <!--<span class="col-md-3">
                        <button class="btn btn-primary pull-right" type="button" onclick="location.href = '#/user'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>
                    </span>-->
                </div>
            </div>
        </div>
    </div>
</div>