﻿<style>
    .deleted {
        color: red;
        text-decoration: line-through;
    }
    .radio, .checkbox {
        position: relative;
        display: block;
        margin-top: 1px !important;
        margin-bottom: 1px !important;
    }
</style>
<div class="container" ng-controller="ProcessMasterController">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h3 class="lvh-label">Process Master</h3>
            <ul class="lv-actions actions">
                <li>
                    <button type="button" class="btn bgm-lightgreen btn-icon waves-effect waves-circle m-r-10" aria-label="button" ng-click="AddProcessMaster(-1);">
                        <i class="zmdi zmdi-plus btn-small"></i>

                    </button>
                </li>
            </ul>
        </div>
        <div class="card-body card-padding p-t-5 p-b-5">
            <div class="row">
                <div class="col-xs-12">
                    <div class="" style="min-height: 250px;">
                        <div class="table-responsive">
                            <table class="table table-vmiddle" ng-table="ngTblData">
                                <tr ng-repeat="w in $data">
                                    <td data-title="'#Action'">
                                        <button class="btn btn-default ng-scope waves-effect" type="button" ng-click="AddProcessMaster(w.Code);" aria-label="button">
                                            <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-danger ng-scope waves-effect" type="button" ng-click="DeleteProcessMaster(w.Code)" aria-label="button">
                                            <i class="zmdi zmdi-delete" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td data-title="'Code'" sortable="'Code'">{{w.Code}}</td>
                                    <td data-title="'Description'" sortable="'Description'">{{w.Description}}</td>
                                    <td data-title="'Module'">{{ (lookupData.moduleList | filter : {Value:w.Module})[0].Text }}</td>
                                    <td data-title="'Pickup'" sortable="'PickupFrom'">{{w.PUModeDescription}}</td>
                                    <td data-title="'Delivery'" sortable="'DeliveryTo'">{{w.DOModeDescription}}</td>
                                    <td data-title="'Staging'">
                                        <div class="checkbox m-b-1">
                                            <label>
                                                <input type="checkbox" value="" aria-label="STAGING" ng-disabled="true" ng-model="w.IsStagingRequired">
                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td data-title="'Transport'" sortable="'TransportMode'">{{w.TransportModeDescription}}</td>
                                    <td data-title="'Freight'" sortable="'FreightMode'">{{w.FreightModeDescription}}</td>
                                    <td data-title="'Planning'">
                                        <div class="checkbox m-0">
                                            <label>
                                                <input type="checkbox" value="" aria-label="Planning" ng-disabled="true" ng-model="w.IsPlanningRequired">
                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td data-title="'Empty/Full'" sortable="'EFIndicator'">{{w.EFIndicatorDescription}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!--<span class="pull-right">
                        <button class="btn btn-primary" type="button" onclick="location.href = '#/owner'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>
                    </span>-->
                </div>
            </div>
        </div>
    </div>
</div>
