﻿
<div class="content" ng-controller="HomeController">
    <div class="container">
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">DASHBOARD</h3>
            </div>
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="row">
                    <div class="col-xs-12">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" ng-if="tab.visible">
                                <md-heading ng-if="tab.isRemove">
                                    <i class="glyphicon glyphicon-bell"></i> Alert!
                                </md-heading>
                                <md-content class="md-padding">
                                    <div ng-include="tab.content"></div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
