﻿<div class="container" ng-controller="RegisterCntrl as Cntrl">
    <script>
        $(function () {
            $('#m_timer').countdowntimer({
                minutes: 2,
                size: "lg"
            });
        });
    </script>
    <style type="text/css">
        .userIdPopOverCss .popover {
            width: 300px;
            height: 50px;
            padding: 5px 5px 5px 5px;
            font-weight: 600;
        }

        .passwordPopOverCss .popover {
            width: 450px;
            height: 80px;
            padding: 5px 5px 5px 5px;
            font-weight: 600;
        }

        .isNotMatched {
            border: 1px solid red !important;
        }

        .fileCss {
            border: 0px solid #ccc;
        }
    </style>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="lv-header-alt clearfix m-b-5">
                    <h2 class="lvh-label">Forgot Password</h2>
                </div>

                <!--<div  class="lv-header-alt clearfix m-b-5">
                    <h3  class="lvh-label">Forgot Password</h3>
                </div>-->
                <div class="card-body card-padding p-t-25 p-b-25">
                    <form id="Cntrl.frmEmail" name="Cntrl.frmEmail" ng-class="{'submitted': submittedEmail}" ng-submit="CheckEmailAvailability()" novalidate>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 ">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Email ID</label>
                                    <input type="text"
                                           ng-model="pwd.Email"
                                           ng-required="true"
                                           ng-disabled="isUserEmailExists"
                                           ng-blur="CheckEmailAvailability()" />
                                </md-input-container>
                                <span class="userIdPopOverCss">
                                    <a uib-popover="Please key in Email ID and press ENTER key"
                                       popover-trigger="mouseenter">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>

                            <!--<div class="col-xs-12 col-md-2">
                                <label class="control-label pull-right userIdPopOverCss">Email ID</label>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <input type="email"
                                       class="form-control input-sm"
                                       ng-model="pwd.Email"
                                       placeholder="(mandatory)"
                                       ng-required="true"
                                       ng-disabled="isUserEmailExists"
                                       ng-blur="CheckEmailAvailability()" />
                            </div> <div class="col-xs-12 col-md-2">
                                <span class="userIdPopOverCss">
                                    <a uib-popover="Please key in Email ID and press ENTER key"
                                       popover-trigger="mouseenter">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </span>&nbsp;
                            </div>-->

                        </div>

                    </form>

                    <form id="Cntrl.frmQuestion" name="Cntrl.frmQuestion" ng-class="{'submitted': submittedQuestion}" ng-submit="Validate(pwd)" novalidate>
                        <div ng-show="EmailValid">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Security Question</label>
                                        <md-select ng-model="pwd.SecurityQuestion"
                                                   ng-required="true" ng-disabled="securityQuestionValid">
                                            <md-option ng-repeat="item in lookUpData.securityQuestionsList" ng-value="item.Value">
                                                {{item.Text}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <!--<div class="col-xs-12 col-md-2">
                                    <label>Security Question</label>
                                </div>
                                <div class="col-xs-12 col-md-5">
                                    <select class="form-control input-sm" ng-model="pwd.SecurityQuestion"
                                            ng-required="true"
                                            ng-options="s.Value as s.Text for s in lookUpData.securityQuestionsList"
                                            ng-disabled="securityQuestionValid"></select>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Answer</label>
                                        <input type="text"
                                               ng-model="pwd.Answer"
                                               ng-required="true"
                                               ng-disabled="securityQuestionValid" />
                                    </md-input-container>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <button type="submit"
                                            class="btn btn-primary"
                                            ng-disabled="securityQuestionValid"
                                            ng-click="submittedQuestion = true;">
                                        Validate Question
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="row" ng-if="ShowOTP">
                        <div class="col-xs-12 col-md-4">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>OTP</label>
                                <input type="text"
                                       ng-model="OTP" />
                            </md-input-container>
                            <!--<div id="m_timer"></div>-->
                            {{countdown}}
                            {{message}}
                        </div>

                        <!--<div class="col-xs-12 col-md-2">
                            <label>OTP</label>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <input type="text" ng-model="OTP" class="form-control input-sm" />
                        </div>-->
                        <div class="col-xs-12 col-md-2">
                            <button class="btn btn-primary pull-right m-t-10" ng-disabled="OTP == null || OTP == ''" type="button" ng-click="VerifyOTPForgotPassword(pwd.Email, OTP)">Verify OTP</button>

                        </div>
                        <div class="col-xs-12 col-md-2">
                            <button class="btn btn-primary m-t-10" type="button" ng-disabled="!buttonEnabled" ng-click="ResendOTP(pwd)">Resend OTP</button>

                        </div>
                    </div>
                    <form id="Cntrl.frmPassword" name="Cntrl.frmPassword" ng-class="{'submitted': submittedPwd}" ng-submit="UpdatePassword(pwd)" novalidate>
                        <div ng-show="securityQuestionValid">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>New Password</label>
                                        <!--<input type="password"
                                              ng-required="true"
                                           ng-model="pwd.Password"
                                           ng-class="{'isNotMatched': !isPasswordMatched}"
                                           ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                           ng-minlength="8" />-->
                                        <input type="password"
                                               ng-required="true"
                                               ng-model="pwd.Password"
                                               ng-class="{'isNotMatched': !isPasswordValidates}"
                                               ng-blur="removeValidations('Password')"
                                               ng-pattern="Regex"
                                               class="eye-icon"
                                               ng-minlength="8" />
                                        <button ng-show="true" ng-if="Password"><i class="zmdi zmdi-eye"></i></button>
                                    </md-input-container>
                                    <span class="passwordPopOverCss">
                                        <a uib-popover="Password must have at least 8 characters and contain the following:
                                              uppercase letters, lowercase letters, numbers and symbols"
                                           popover-trigger="mouseenter">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>

                                <!--<div class="col-xs-12 col-md-2">
                                    <label>New Password</label>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <input type="password"
                                           placeholder="(mandatory)"
                                           class="form-control input-sm"
                                           ng-required="true"
                                           ng-model="pwd.Password"
                                           ng-class="{'isNotMatched': !isPasswordMatched}"
                                           ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                           ng-minlength="8" />
                                </div>-->
                                <!--<div class="col-md-1">
                                    <span class="passwordPopOverCss">
                                        <a uib-popover="Password must have at least 8 characters and contain the following:
                                              uppercase letters, lowercase letters, numbers and symbols"
                                           popover-trigger="mouseenter">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Confirm New Password</label>
                                        <!--<input type="password"
                                           ng-model="pwd.ConfirmPassword"
                                           ng-class="{'isNotMatched': !isPasswordMatchedFP}"
                                           ng-required="true"
                                           ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                           compare-to="pwd.Password"
                                           ng-minlength="8"
                                           ng-blur="ComparePasswordinFP()" />-->

                                        <input type="password"
                                               ng-model="pwd.ConfirmPassword"
                                               ng-class="{'isNotMatched': !isPasswordMatchedFP}"
                                               ng-required="true"
                                               ng-pattern="regex"
                                               compare-to="pwd.Password"
                                               ng-minlength="8"
                                               ng-blur="ComparePasswordinFP(ConfirmPassword)" />
                                        <button ng-show="true" ng-if="CPassword"><i class="zmdi zmdi-eye"></i></button>
                                    </md-input-container>
                                </div>

                                <!--<div class="col-xs-12 col-md-2">
                                    <label>Confirm New Password</label>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <input type="password"
                                           placeholder="(mandatory)"

                                           ng-model="pwd.ConfirmPassword"
                                           ng-class="{'isNotMatched': !isPasswordMatchedFP}"
                                           ng-required="true"
                                           ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                           compare-to="pwd.Password"
                                           ng-minlength="8"
                                           ng-blur="ComparePasswordinFP()" />
                                </div>-->
                            </div>
                            <div class="row">


                                <div class="col-xs-12 col-md-2">
                                </div>
                                <div class="col-xs-12 col-md-5">
                                    <md-button type="submit"
                                               class="md-raised md-primary"
                                               ng-click="submittedPwd = true;">Update Password</md-button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>
