﻿<div class="container" ng-controller="LoginCntrl">
    <div class="row" style="margin-top:60px;">
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4">
            <div class="card">
                <div  class="lv-header-alt clearfix m-b-5">
                    <h3  class="lvh-label">DNeX</h3>                    
                </div>
                <div  class="card-body card-padding p-t-25 p-b-25">
                    <form id="frmLogin" name="frmLogin" ng-class="{'submitted': submitted}" ng-submit="Login(log)" novalidate>
                        <div class="row" >
                            <div class="col-xs-12">
                                <label>Email</label>
                                <input type="email" class="form-control input-sm" ng-model="log.Email" ng-required="true" />
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-xs-12">
                                <label>Password</label>
                                <input type="password" 
                                       class="form-control input-sm" 
                                       ng-model="log.Password" 
                                       ng-required="true" />
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-xs-12">
                                <button type="submit" 
                                        ng-click="submitted = true;" 
                                        class="btn btn-primary btn-block">Login</button>
                            </div>
                        </div>
                    </form>                    
                </div>   
                <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>              
            </div>
        </div>
        <div class="col-xs-12 col-md-4"></div>
    </div>
    
</div>

