﻿<div id="content" ng-controller="TabsCtrl" class="TabsCtrlCss">
    <style type="text/css">
        iframe {
            border-width: 0px;
            border-style: inset;
            border-color: initial;
            border-image: initial;
            height: 100%;
            width: 100%;
        }

        html {
            overflow-y: hidden;
        }
    </style>
    <div>
        <uib-tabset class="tab-container  " active="active">
            <uib-tab index="tab.tabIndex" ng-repeat="tab in tabs">
                <uib-tab-heading>
                    <span><b>{{tab.title}}</b></span> <i ng-if="$index != 0" class="glyphicon glyphicon-remove" ng-click="removeTab($event, $index)"></i>
                </uib-tab-heading>
                <div class="content">

                    <iframe ng-style="{height: iframeHeight + 'px'}" ng-src="{{tab.content | trustAsResourceUrl}}" resize></iframe>

                </div>
            </uib-tab>
            <!--<button class="btn btn-default" type="button" ng-click="addTab({ Title: 'Charge Master', State: 'chargecodelist' })"></button>-->
        </uib-tabset>
    </div>
</div>
