﻿<div class="container" ng-controller="VesselMasterCntrl">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="lv-header-alt clearfix m-b-5">
                    <h3 class="lvh-label">Vessel Master</h3>
                    <ul class="lv-actions actions">
                        <li>
                            <button class="btn bgm-lightgreen btn-icon waves-effect waves-circle m-r-10" type="button" aria-label="button" ng-click="AddVesselMaster(-1);">
                                <i class="zmdi zmdi-plus btn-small"></i>

                            </button>
               </li> </ul>
                </div>
                <div class="card-body card-padding p-t-25 p-b-25">
                    <div class="row">
                        <div class="col-xs-12">
                            <div  style="min-height:250px;">
                              <div class="table-responsive"><table class="table table-striped table-vmiddle">
                                <thead >
                                    <tr>
                                        <th>Vessel ID</th>
                                        <th>Vessel Name</th>
                                        <th>Lloyds No.</th>
                                        <th>Country Code</th>
                                        <th># Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="vessel in vesselList">
                                        <td>{{vessel.VesselID}}</td>
                                        <td>{{vessel.VesselName}}</td>
                                        <td>{{vessel.LloydID}}</td>
                                        <td>{{vessel.CountryCode}}</td>
                                        <td> 
                                            <button class="btn btn-default ng-scope waves-effect" type="button" ng-click="AddVesselMaster(vessel.VesselID);" aria-label="button">
                                                <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                                                
                                            </button>
                                            <button class="btn btn-danger ng-scope waves-effect" type="button" ng-click="DeleteVesselMaster(vessel.VesselID);" aria-label="button">
                                                <i class="zmdi zmdi-delete" aria-hidden="true"></i>
                                                
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table></div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <uib-pagination ng-model="currentPage"
                                total-items="totalItems"
                                ng-change="pageChanged()"
                                class="pagination-sm pull-right"
                                max-size="10"
                                items-per-page="limit">
                    </uib-pagination>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-12">
                           <md-button class="md-raised md-clear" onclick="location.href = '#/home/'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
