﻿<form id="frmAddress" name="frmAddress" ng-class="{'submitted':submitted}" ng-submit="AddAddress(address)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">{{title}} Address</h4>
        <input type="hidden" ng-model="address.AddressId" ng-init="-1" />
    </div>
    <div class="modal-body">
        <div class="c-overflow" ng-style="{'max-height': iframeHeight - 80 + 'px'}" resize>
            <div class="modalbodymain">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Address</label>
                                    <input type="text"
                                           ng-model="address.Address1" ng-required="true" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Address2 </label>
                                    <input ng-model="address.Address2" ng-required="true" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Post Code</label>
                                    <input type="text"
                                           ng-model="address.ZipCode" ng-required="true" logicon-number ng-maxlength="10" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>City / Suburb</label>
                                    <input type="text"
                                           ng-model="address.City" ng-required="true" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>State</label>
                                    <input type="text"
                                           ng-model="address.State" ng-required="true" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Country</label>
                                    <input type="text"
                                           class="search-icon"
                                           ng-required="true"
                                           ng-class="{'loadinggif': address.CountryNameLoading}"
                                           ng-model="address.CountryName"
                                           typeahead-min-length="3"
                                           uib-typeahead="s.Text as s.Text for s in countryResults($viewValue)"
                                           typeahead-loading="address.CountryNameLoading"
                                           typeahead-wait-ms="100"
                                           typeahead-editable="false"
                                           typeahead-on-select="countrySelect($item)" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tel No.</label>
                                    <input type="text"
                                           ng-model="address.TelNo" logicon-number ng-maxlength="15" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Fax No.</label>
                                    <input type="text"
                                           ng-model="address.FaxNo" logicon-number ng-maxlength="15" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Mobile No.</label>
                                    <input type="text"
                                           ng-model="address.MobileNo" logicon-number ng-maxlength="15" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Email</label>
                                    <input type="text"
                                           ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-model="address.Email" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Website</label>
                                    <input type="text"
                                           ng-model="address.WebSite" />
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <md-switch class="md-primary" aria-label="Billing" ng-model="address.IsBilling">Billing</md-switch>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <md-switch class="md-primary" aria-label="Active" ng-model="address.IsActive">Active</md-switch>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <md-switch class="md-primary" aria-label="Operation" ng-model="address.IsOperation">Operation</md-switch>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-5">
                                <md-switch class="md-primary" aria-label="Operation" ng-model="address.IsPickup">Pickup / Delivery</md-switch>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>EDI Mapping</label>
                                    <input type="text"
                                           ng-model="address.EDIMapping" />
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
            <div class="modal-footer">
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-md-9"></div>
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-primary btn-sm" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button class="btn btn-default btn-sm" type="button" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
                    </div>
                </div>
            </div>
</form>


