<div class="content">
    <!--ng-controller="ZoneMasterCntrl"-->
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h3 class="lvh-label">Product Location</h3>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Principal</label>
                            <md-select ng-model="" ng-required="">
                                <md-option ng-repeat="" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <!--<select></select>-->
                </div>
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" ng-model="" ng-required="" />
                        </md-input-container>
                        <!--<input type="text" />-->
                </div>
                </div>
            </div>
            <div class="row">
            	<div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-vmiddle">
                            <thead>
            				<tr>
            					<th>Product Code</th>
            					<th>Description</th>
            					<th>Category</th>
            					<th>Storage Unit</th>
            				</tr>
            			</thead>
                        </table>
                    </div>
            	</div>
            </div>
                </div>
        <div class="row">
            	<div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped table-vmiddle">
                        <thead>
            				<tr>
            					<th>Warehouse</th>
            					<th>Zone</th>
            					<th>Description</th>
            					<th>Location Type</th>
            					<th>Description</th>
            					<th>Seq No.</th>
            					<th>From Level</th>
            					<th>To Level</th>
            					<th>From Bay</th>
            					<th>To Bay</th>
            				</tr>
            			</thead>
                    </table>
                </div>
                    </div>
            	</div>
          
    </div>
</div>