﻿<div class="container" data-ng-controller="PaymentInquiryCntrl as PICtrl">

    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">Statement Inquiry</h2>
        </div>

        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="Advanced Search" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <uib-accordion-heading>
                                <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card">
                                        <div class="card-body card-padding p-t-25 p-b-25">
                                            <form id="frmSearch" name="frmSearch" ng-class="{'submitted': SearchSubmitted}"
                                                  ng-submit="SearchPendingBilling(pb)" novalidate>
                                                <div class="row">
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Subscriber Name</label>
                                                            <input type="text"
                                                                   ng-model="pb.name" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Subscription Type</label>
                                                            <md-select ng-model="pb.type" ng-required="pb.type==undefined">
                                                                <md-option ng-repeat="item in lookupData.registrationTypeList" ng-value="item.Value">
                                                                    {{item.Text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-sm-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Date From</label>
                                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="FromDate" format="{{dateFormat}}"
                                                                   min-date="date" ng-model="pb.FromDate">
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-sm-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Date To</label>
                                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="ToDate" format="{{dateFormat}}"
                                                                   min-date="date" ng-model="pb.ToDate">
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Filter</label>
                                                            <md-select ng-model="pb.type" ng-required="pb.type==undefined">
                                                                <md-option value="Paid"> Paid</md-option>
                                                                <md-option value="Unpaid"> Unpaid</md-option>
                                                                <md-option value="Ageing"> Ageing</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4" ng-if="pb.type == 'Ageing'">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label></label>
                                                            <input type="text" ng-required="pb.type == 'Ageing'" ng-model="pb.noofDays" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-sm-12 col-md-2">
                                                        <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                                                    </div>

                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <!--<th>#Action</th>-->
                                    <th>Receipt No.</th>
                                    <th>Receipt Date</th>
                                    <th>Payment Date</th>
                                    <th>Paid Amount</th>
                                    <th>Due Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="il in InquiryList">
                                    <td>{{il.CompanyName}}</td>
                                    <td>{{il.RegNo}}</td>
                                    <td>{{il.RegistrationTypeDescription}}</td>
                                    <td>{{il.RegNo}}</td>
                                    <td>{{il.RegistrationTypeDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12" ng-if="InquiryList.length == 0">
                        <label>{{dataGridNorecords}}</label>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-6 col-md-6">
                    <button type="button" class="btn btn-info" ng-click="refresh()"><i class="fa fa-refresh "></i> Refresh</button>
                </div>
                <div class="col-xs-6 col-md-6">
                    <uib-pagination ng-model="currentPage"
                                    total-items="totalItems"
                                    ng-change="pageChanged()"
                                    class="pagination-sm pull-right"
                                    max-size="10"
                                    items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
            <!--<div class="row" ng-show="orderentries.length > 0">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-primary" ng-click="ExportData('excel','application/vnd.ms-excel');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel</button>
                    <button type="button" class="btn btn-primary" ng-click="ExportData('pdf','application/pdf');"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Pdf</button>
                </div>
            </div>-->
        </div>
    </div>

</div>