﻿<div class="container" ng-controller="AddNews">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">Add News</h2>
        </div>
        <form id="addnews" name="addnews" ng-class="{'submitted':submitted}" ng-submit="SaveNews(news)">
            <div class="card-body card-padding p-t-5 p-b-5">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Category Name</label>
                                    <md-select ng-model="news.CategoryCode" name="news.CategoryCode">
                                        <md-option ng-repeat="item in categoryList" Value="{{item.Value}}">{{item.Text}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 ">                                
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Title</label>
                                    <input type="text"
                                           ng-model="news.Title"
                                           name="news.CategoryName" ng-maxlength="100" logicon-limit />
                                </md-input-container>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-xs-12 ">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>News Date</label>
                                    <input mdc-datetime-picker="" date="true" time="false" type="text" format="{{dateFormat}}" class="date-icon"
                                           max-date="maxdate" ng-model="news.NewsDate">

                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 ">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Expiry date</label>
                                    <input mdc-datetime-picker="" date="true" time="false" type="text" format="{{dateFormat}}" class="date-icon"
                                           max-date="maxdate" ng-model="news.ExpiryDate">

                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 ">                               
                                <div class="col-xs-12 col-md-4 ">
                                    <img id='img-upload' ng-model="snn.Image" name="img-upload" />
                                    <span class="fileinput fileinput-new pull-left m-l-10" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file m-r-10">
                                            <span class="fileinput-new">Upload </span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file"
                                                   id="imageUpload"
                                                   name="imageUpload"
                                                   ng-model="news.Image"
                                                   onchange="angular.element(this).scope().fileChanged(this.files)">
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div style="text-transform:none !important;" 
                             simditor 
                             ng-model="news.Message" 
                             placeholder="some placeholder"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-right m-b-10">
                            <button class="btn btn-primary" type="submit" ng-click="submitted = true;">Publish</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>