<div class="container-fluid ng-scope">
    <div class="row">
        <div class="col-md-9 copyright" style="text-align:left;">
            <div style="margin-bottom:3px;"><b>&copy; 2017 DNeX<span style="font-style:italic;">PORT</span> Sdn Bhd.</b>  All rights reserved.</div>
          
            <div  style="font-size:10px; margin-top:2px; text-align:left;">

                This application is best viewed in the higher versions for : IE 11.0, Firefox 45.5.0, Google Chrome 50.0.0
            </div>
        </div>
        <div class="col-md-3 version" style="text-align:right;">
          
            <div class="hidden-xs ng-binding " style="text-align:right;">
                {{appVersion}} <b>beta</b><br/>
                <a style="color:rgb(199, 56, 64);" href="http://www.dnex.com.my/privacy-policy/">Privacy policy</a>
            </div>
        </div>
    </div>
   
</div>