﻿<div class="container" ng-controller="ClaimantController">
    <form id="frmClaimant" name="frmClaimant" ng-submit="SaveClaimant(claimant)"
          ng-class="{'submitted': submitted}" novalidate>

        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h2 class="lvh-label hidden-xs">Claimant</h2>
            </div>
            <div class="card-body card-padding p-t-5 p-b-5">
                <!--<div class="row">
                    <div class="col-xs-12 col-md-6">

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Branch</label>
                            <md-select ng-model="claimant.BranchID" ng-required="true" ng-disabled="!IsNew">
                                <md-option ng-repeat="item in branchList" ng-value="item.Value">{{item.Text}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Claimant ID</label>
                            <input type="text" ng-model="claimant.ClaimantID" ng-required="true" ng-blur="checkClaimant(claimant.ClaimantID)" ng-disabled="!IsNew" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>NAME</label>
                            <input type="text" ng-model="claimant.Name" ng-required="true" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>COMPANY</label>
                            <input type="text" ng-model="claimant.Company" ng-required="true" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>DESIGNATION</label>
                            <input type="text" ng-model="claimant.Designation" ng-required="true" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>STATUS</label>
                            <input type="text" ng-model="claimant.Status" ng-required="true" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>NRIC</label>
                            <input type="text" ng-model="claimant.NRIC" ng-required="true" logicon-number />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <button type="submit" ng-click="submitted = true" class="btn btn-primary waves-effect"><i class="fa fa-plus"></i>&nbsp;Save</button>
                        <span class="pull-right">
                            <button class="btn btn-primary" type="button" data-ui-sref="ClaimantList" data-ng-click="mactrl.sidebarStat($event)">
                                <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>