﻿<style type="text/css">
    .selectedCss {
        background-color: rgba(0,0,0,0.12);
    }
</style>
<div id="container">
    <div class="card" ng-if="!isConventionalCargo">
    <!--<div class="card">-->
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">Container</h2>
            <div class="text-right pull-right m-r-10">
                <button type="button" ng-disabled="oe.OrderCategory == null" class="btn btn-primary" ng-click="AddContainer(-1);" ng-show="!IsWebOrder" has-Right data-rightValue="OrderEntry.AddContainer"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
            </div> 
             <span class="fileinput fileinput-new pull-right" data-provides="fileinput" ng-show="!IsWebOrder" has-Right data-rightValue="OrderEntry.UploadFile">
                <span class="btn btn-primary btn-file m-r-10">
                    <span class="fileinput-new"><i class="fa fa-upload" aria-hidden="true"></i> &nbsp; Upload File</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file"
                           id="containerFile"
                           name="containerFile"
                           onchange="angular.element(this).scope().ContainerFileUpload(this)" >
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
            </span>
          
                <div class="clearfix"></div>
            </div>
        <div class="card-body card-padding p-t-5 p-b-5">
            <div id="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row chart-width ">
                            <div class="col-xs-3 ">
                                <div class="mini-charts-item bgm-cyan">
                                    <div class="clearfix">
                                        <div class="chart stats-bar" data-sparkline-bar=""><canvas width="63" height="45" style="display: inline-block; width: 83px; height: 45px; vertical-align: top;"></canvas></div>
                                        <div class="count">
                                            <small>Total 20 footer</small>
                                            <h2>{{(oe.orderContainerList | filter : {Size: 20}).length}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="mini-charts-item bgm-lightgreen">
                                    <div class="clearfix">
                                        <div class="chart stats-line" data-sparkline-line=""><canvas width="83" height="45" style="display: inline-block; width: 83px; height: 45px; vertical-align: top;"></canvas></div>
                                        <div class="count">
                                            <small>Total 40 footer</small>
                                            <h2>{{(oe.orderContainerList | filter : {Size: 40}).length}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-pie" data-sparkline-pie="">
                                            <canvas width="83" height="45" style="display: inline-block; width: 83px; height: 45px; vertical-align: top;"></canvas>
                                        </div>
                                        <div class="count">
                                            <small>Total 45 footer</small>
                                            <h2>{{(oe.orderContainerList | filter : {Size: 45}).length}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="mini-charts-item bgm-blue">
                                    <div class="clearfix">
                                        <div class="chart stats-bar" data-sparkline-bar=""><canvas width="83" height="45" style="display: inline-block; width: 83px; height: 45px; vertical-align: top;"></canvas></div>
                                        <div class="count">
                                            <small>No. Of Containers</small>
                                            <h2>{{oe.orderContainerList.length}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <!--ng-class="{'selectedCss': SelectedContainerIndex == con.index}"--> 
                            <table class="table table-vmiddle" ng-table="tblContainer">
                                <tr ng-repeat="con in $data" ng-click="getTruckMovementByValue(con.ContainerKey, $index)"                                     
                                    ng-init="getDefaultRowForTruckMovement(con.ContainerKey,$index)">

                                    <td data-title="'Container No.'">
                                        {{con.ContainerNo}}
                                        <input type="hidden" ng-model="con.index" ng-init="con.index = $index" />
                                    </td>
                                    <td data-title="'Size'">{{con.Size}}</td>
                                    <td data-title="'Type'">{{con.Type}}</td>
                                    <td data-title="'Declared Gross Weight (KG)'">{{con.GrossWeight}}</td>
                                    <td data-title="'Seal No.'">{{con.SealNo}}</td>
                                    <td data-title="'Temperature'">{{con.Temprature}}</td>
                                    <td data-title="'Cargo Handling'">{{con.CargoHandling}}</td>
                                    <!--<td data-title="'Marks and Numbers'">{{con.Remarks}}</td>-->
                                    <td data-title="'#Action'">
                                        <input type="hidden" ng-model="con.Index" ng-init="con.Index = _containerIndex + ($index)" />
                                        <button type="button" ng-click="AddContainer(_containerIndex + ($index));" class="btn btn-default ng-scope waves-effect" aria-label="button" has-Right data-rightValue="OrderEntry.UpdateContainer">
                                            <i class="zmdi" ng-class="{'zmdi-edit': !IsWebOrder, 'zmdi-view-dashboard': IsWebOrder}"></i>
                                        </button>
                                        <button class="btn bgm-teal waves-effect" type="button" uib-tooltip="Copy" tooltip-placement="top" ng-click="CopyContainer(con)" has-Right data-rightValue="OrderEntry.CopyContainerItem">
                                            <i class="zmdi zmdi-refresh"></i>
                                        </button>
                                        <button type="button" ng-click="DeleteContainer(_containerIndex + ($index),con.ContainerKey);" class="btn btn-danger waves-effect" aria-label="button" ng-show="!IsWebOrder" has-Right data-rightValue="OrderEntry.DeleteContainer">
                                            <i class="zmdi zmdi-delete" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
              
                <div class="row" ng-if="oe.selectedConMovements.length > 0">

                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="lvh-label">Container Movements</h2>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Container Key</th>
                                        <th>Movement Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in  oe.selectedConMovements">
                                        <td>{{item.ContainerKey}}</td>
                                        <td>{{item.MovementCode}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>