﻿<div id="documents">
<div class="card">
    <div class="lv-header-alt clearfix m-b-5">
        <h2 class="lvh-label">    Document </h2>
            <span class="fileinput fileinput-new pull-right" data-provides="fileinput" ng-show="!IsWebOrder" has-Right data-rightValue="OrderEntry.UploadDocument">
                <span class="btn btn-primary btn-file m-r-10">
                    <span class="fileinput-new">Select file</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file"
                           id="file"
                           name="file"
                           ng-required="true"
                           onchange="angular.element(this).scope().getFileDetails(this)" >
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
            </span> 
            <div class="clearfix"></div>
        
    </div>

    <div class="card-body" style="min-height:150px;">        
        <div class="row">           
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <div class="table-responsive">
                            <table class="table table-vmiddle">
                                <thead>
                                    <tr>
                                        <th style="max-width:55px;">S No.</th>
                                        <th>File Name</th>
                                        <th style="max-width:100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in files">
                                        <td>{{$index + 1}}</td>
                                        <td>
                                            {{item.name}}
                                        </td>
                                        <td>
                                            <button class="btn btn-danger waves-effect"
                                                    type="button"
                                                    ng-disabled="item.name == null || item.name == ''"
                                                    ng-click="DeleteDocument($index)"
                                                    aria-label="button" has-Right data-rightValue="OrderEntry.DeleteDocument">
                                                <i class="zmdi zmdi-delete" aria-hidden="true"></i>

                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>       

        <div class="row" ng-if="docList.length>0">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="table-responsive">
                    <table class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>#Action</th>
                                <th>S No.</th>
                                <th>File Name</th>
                                <th>Uploaded By</th>
                                <th>Uploaded On</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in docList">
                                <td>
                                    <button class="btn btn-danger waves-effect"
                                            type="button"
                                            ng-disabled="item.FileName == null || item.FileName == ''"
                                            ng-click="DeleteImage(item.BranchID,item.OrderNo,item.ItemNo)"
                                            aria-label="button" ng-show="!IsWebOrder">
                                        <i class="zmdi zmdi-delete" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>{{$index + 1}}</td>
                                <td>
                                    {{item.FileName}}
                                </td>
                                <td>
                                    {{item.CreatedBy}}
                                </td>
                                <td>
                                    {{item.CreatedOn | date : 'dd/MM/yyyy'}}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" style="position:absolute; bottom:10px;">
            <div class="col-xs-12 f-10" style="font-weight:400;">
                <em class="p-10">“Supported Format : pdf, jpg, jpeg, png, tif. Maximum size per file : 5 MB”</em>
            </div>
        </div>
    </div>
    
</div>

    </div>