﻿<div class="container" data-ng-controller="OrderEntryListCntrl as oelCntrl">

    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">ORDER ENTRY LIST</h2>
            <ul class="lv-actions actions">
                <li>
                    <button class="btn bgm-lightgreen btn-icon" data-ui-sref="orderentry({orderno:'NEW',IsWeb:false,branchId:null,orderOwner:null})" data-ng-click="mactrl.sidebarStat($event)" has-Right data-rightValue="OrderEntry.OrderEntry" data-accessRight="1"><i class="zmdi zmdi-plus btn-small"></i></button>&nbsp;&nbsp;&nbsp;
                </li>
            </ul>
        </div>

        <div class="card-body card-padding p-t-5 p-b-5">
            <div class="row">
                <div class="col-xs-12">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="Advanced Search" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <uib-accordion-heading>
                                <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="">
                                        <div class="card-body card-padding p-t-5 p-b-5">
                                            <form id="oelCntrl.frmSearch" name="oelCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}"
                                                  ng-submit="GetTableData(true)" novalidate>
                                                <div class="row">
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Order No.</label>
                                                            <input type="text"
                                                                   ng-model="Search.OrderNo" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Voyage No.</label>
                                                            <input type="text"
                                                                   ng-model="Search.VoyageNo" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Manifest No.</label>
                                                            <input type="text"
                                                                   ng-model="Search.ManifestNo" />
                                                        </md-input-container>
                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>House B/L No.</label>
                                                            <input type="text"
                                                                   ng-model="Search.HouseBLNo" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Shipper</label>
                                                            <input type="text"
                                                                   ng-model="Search.Shipper" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Consignee</label>
                                                            <input type="text"
                                                                   ng-model="Search.Consignee" />
                                                        </md-input-container>
                                                    </div>


                                                    <!--<div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Customer</label>
                                                            <input type="text"
                                                                   ng-model="Search.Customer" />
                                                        </md-input-container>
                                                    </div>-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Vessel Name</label>
                                                            <input type="text"
                                                                   ng-model="Search.vesselName" />
                                                        </md-input-container>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Date From</label>
                                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                                                                   min-date="date" ng-model="Search.DateFrom">
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-sm-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Date To</label>
                                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateTo" format="{{dateFormat}}"
                                                                   min-date="date" ng-model="Search.DateTo">
                                                        </md-input-container>
                                                    </div>
                                                    <!--<div class="col-sm-12 col-md-2">
                                                        <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                                                    </div>-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Customer</label>
                                                            <input type="text"
                                                                   ng-model="Search.Customer" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Freight Forwarder</label>
                                                            <input type="text"
                                                                   ng-model="Search.FreightForwarder" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Forwarding Agent</label>
                                                            <input type="text"
                                                                   ng-model="Search.ForwardingAgent" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 text-right">
                                                        <button ng-click="SearchSubmitted = true;"  type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="" style="min-height: 250px;">
                        <div class="table-responsive">
                            <table class="table table-vmiddle" ng-table="ngTblData">
                                <tr ng-repeat="w in $data">
                                    <td data-title="'#Action'">
                                        <button class="btn btn-default ng-scope waves-effect"
                                                type="button"
                                                data-ui-sref="orderentry({orderno:w.OrderNo,IsWeb:w.WebOrder,branchId:w.BranchID,orderOwner:w.OrderOwner})"
                                                aria-label="button" uib-tooltip="{{w.WebOrder ? 'View':'Edit'}}" tooltip-placement="top">
                                            <i class="zmdi" ng-class="{'zmdi-edit': !w.WebOrder, 'zmdi-view-dashboard': w.WebOrder}"></i>
                                        </button>
                                    </td>
                                    <td data-title="'Order No.'" sortable="'OrderNo'"><a style="cursor:pointer;" ng-click="BroadCastOrder({orderno:w.OrderNo,IsWeb:w.WebOrder,branchId:w.BranchID,orderOwner:w.OrderOwner})" uib-tooltip="Open" tooltip-placement="top">{{w.OrderNo}}</a></td>
                                    <!--<td data-title="'Order No.'" sortable="'OrderNo'"><a data-ui-sref="orderentry({orderno:w.OrderNo,IsWeb:w.WebOrder,branchId:w.BranchID,orderOwner:w.OrderOwner})" uib-tooltip="Open" tooltip-placement="top">{{w.OrderNo}}</a></td>-->
                                    <td data-title="'Voyage No.'" sortable="'Voyageno'">{{w.Voyageno}}</td>
                                    <!--<td data-title="'Manifest No.'" sortable="'ManifestNo'">{{w.ManifestNo}}</td>-->
                                    <!--<td data-title="'House B/L No.'" sortable="'HouseBLNo'">{{w.HouseBLNo}}</td>-->
                                    <!--<td data-title="'Customer'" sortable="'Customer'">{{w.Customer}}</td>-->
                                    <!--<td data-title="'FreightForwarder'" sortable="'FreightForwarder'">{{w.FreightForwarder}}</td>-->
                                    <td data-title="'Vessel Name'" sortable="'VesselName'">{{w.VesselName}}</td>
                                    <td data-title="'Customer Name'" sortable="'CustomerName'">{{w.CustomerName}}</td>
                                    <td data-title="'Agent Name'" sortable="'AgentName'">{{w.AgentName}}</td>
                                    <!--<td data-title="'ForwardingAgent'" sortable="'ForwardingAgent'">{{w.ForwardingAgent}}</td>-->
                                    <td data-title="'Created By'" sortable="'OrderOwner'">{{w.OrderOwner}}</td>
                                    <td data-title="'Status'" sortable="'Status'"><span ng-style="w.OrderStatus === 'Declined' ? { color:'red' } : w.OrderStatus === 'Declaration Generated' ? { color:'green' } : w.OrderStatus === 'Partially Saved' ? { color:'blue' } : {color:'orange' }">{{w.OrderStatus}}</span> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="col-md-3">
                        <button type="button" class="btn btn-info" ng-click="refresh()"><i class="fa fa-refresh "></i> Refresh</button>
                    </span>
                    <span class="text-center col-md-6">
                        <div class="lv-header-alt clearfix m-b-10">
                            <label style="color:green;">Please use "Advance Search for listing more Order Entries"</label>
                        </div>
                    </span>
                    <!--<span class="col-md-3">
                        <button class="btn btn-primary pull-right" type="button" onclick="location.href = '#/user'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>
                    </span>-->
                </div>
            </div>
            <!--<div class="row" ng-show="orderentries.length > 0">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-primary" ng-click="ExportData('excel','application/vnd.ms-excel');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel</button>
                    <button type="button" class="btn btn-primary" ng-click="ExportData('pdf','application/pdf');"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Pdf</button>
                </div>
            </div>-->
        </div>
    </div>

</div>
