﻿<form id="frmItemEntry" name="frmItemEntry" ng-class="{'submitted':submitted}" ng-submit="SaveItemEntry(ie)" novalidate>
    <style type="text/css">
        .box.box-solid.box-default {
            border: 0px solid #d2d6de;
        }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">
            Item Entry <span class="invoicevalues">
                FOB: {{ie.FOBValue}} CIF: {{ie.CIFValue}} EXW: {{ie.EXWValue}} CNF: {{ie.CNFValue}} CNI: {{ie.CNIValue}} Freight: {{ie.FreightValue}} insurance: {{ie.InsuranceValue}} CIFC: {{ie.CIFCValue}}
            </span>
        </h4>
    </div>
    <div class="modal-body mCustomScrollbar">
        <div class="c-overflow" ng-style="{'max-height': iframeHeight - 80 + 'px'}" resize style="overflow-x:hidden; min-height:250px;">
            <div class="modalbodymain">
                <div class="row content" style="max-height:calc(100% - 200px);">
                    <div class="col-xs-12 col-md-5">
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Product</label>
                                    <input type="text"
                                           ng-model="ie.ProductCode" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Country Of Origin</label>
                                    <md-select ng-required="true"
                                               ng-model="ie.OriginCountryCode" ng-change="OriginCountryChange()">
                                        <md-option ng-repeat="item in lookUpData.countryList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>HS Code PDK 2017</label>
                                    <input type="text"
                                           class="search-icon"
                                           ng-class="{'loadinggif': c.HSCodeNameLoading}"
                                           ng-model="ie.HSCode"
                                           typeahead-min-length="3"
                                           uib-typeahead="d.Text as d.Text for d in HSCodeResults($viewValue)"
                                           typeahead-loading="c.HSCodeNameLoading"
                                           typeahead-wait-ms="100"
                                           typeahead-editable="false"
                                           typeahead-on-select="HSCodeChange($item)" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>2012 PDK / AHTN</label>
                                    <input type="text"
                                           ng-model="ie.OldPDKAHTN"
                                           ng-disabled="true" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label></label>
                                    <textarea ng-model="ie.HSCodeDescription" ng-disabled="true" md-select-on-focus style="overflow-y:auto;max-height:60px;"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label></label>
                                    <textarea ng-model="ie.Description" ng-disabled="true" md-select-on-focus style="overflow-y:auto;max-height:60px;"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Item Description</label>
                                    <textarea ng-model="ie.ItemDescription1" ng-required="true" md-maxlength="70" logicon-limit rows="1" md-select-on-focus style="overflow-y:auto;max-height:60px;"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Statistical Qty.</label>
                                    <input type="text"
                                           id="StatisticalQty"
                                           name="StatisticalQty"
                                           logicon-format2="7"
                                           ng-pattern="'^[0-9]{0,7}.?[0-9]{0,7}$'"
                                           ng-required="true"
                                           ng-model="ie.StatisticalQty"
                                           ng-blur="ie.DeclaredQty = ie.StatisticalQty; CurrencyRateChanged();validateInputDecimal();" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Statistical UOM</label>
                                    <md-select ng-required="true"
                                               ng-model="ie.StatisticalUOM" ng-disabled="true">
                                        <md-option ng-repeat="item in lookUpData.UOMList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Declared Qty.</label>
                                    <input type="text"
                                           id="DeclaredQty"
                                           name="DeclaredQty"
                                           logicon-format2="7"
                                           ng-required="true"
                                           ng-pattern="'^[0-9]{0,7}.?[0-9]{0,7}$'"
                                           ng-model="ie.DeclaredQty"
                                           ng-blur="CurrencyRateChanged();" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Declared UOM</label>
                                    <md-select ng-required="true"
                                               ng-model="ie.DeclaredUOM">
                                        <md-option ng-repeat="item in lookUpData.UOMList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Item Amount</label>
                                    <input type="text"
                                           id="ItemAmount"
                                           name="ItemAmount"
                                           logicon-format2="7"
                                           class="ng-isolate-scope"
                                           ng-required="true"
                                           ng-model="ie.ItemAmount"
                                           ng-pattern="'^[0-9]{0,7}.?[0-9]{0,7}$'"
                                           ng-blur="CurrencyRateChanged();validateInputDecimal();" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6" ng-if="ie.OriginCountryCode == 'US'">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>ECCN No</label>
                                    <input type="text"
                                           ng-maxlength="5"
                                           class="ng-isolate-scope"
                                           ng-model="ie.ECCNNo"
                                           logicon-limit />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Extra Item Description</label>
                                    <textarea ng-model="ie.ItemDescription2" md-maxlength="280" logicon-limit rows="4" md-select-on-focus style="overflow-y:auto;max-height:60px;"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Unit Price in MYR</label>
                                    <input type="text"
                                           logicon-format="2"
                                           ng-model="ie.UnitLocalAmount"
                                           ng-disabled="true" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Total Amount in MYR</label>
                                    <input type="text"
                                           logicon-format="2"
                                           ng-model="ie.TotalUnitLocalAmount"
                                           ng-disabled="true" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Total Duty Payable</label>
                                    <input type="text"
                                           logicon-format="2"
                                           ng-model="ie.TotalDutyPayable"
                                           ng-disabled="true" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Total GST Payable</label>
                                    <input type="text"
                                           logicon-format="2"
                                           ng-model="ie.TotalGSTPayable"
                                           ng-disabled="true" />
                                </md-input-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6 border-row-right">
                                <h2 class="lvh-label m-t-5">Import Duty / GST Payable</h2>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Duty Type</label>
                                                    <input type="text"
                                                           ng-model="ie.ImportDutyMethodText"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Duty Rate</label>
                                                    <input type="text"
                                                           ng-model="ie.ImportDutyRate"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Value</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportDutyRateAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Exem. Payable</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportDutyExemptionAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                                    <label>Specific Rate</label>
                                                    <input type="text"
                                                           ng-model="ie.ImportDutySpecificRate"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                                    <label>Value</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportDutySpecificRateAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                                    <label>Exem. Payable</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportDutySpecificExemptionAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>GST</label>
                                                    <input type="text"
                                                           ng-model="ie.ImportGST"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Value</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportGSTAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Exem. Payable</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportGSTExemptionAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12  border-row-top ">
                                        <div class="row">
                                            <div class="col-xs-12 m-t-15">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Excise Duty Type</label>
                                                    <input type="text"
                                                           ng-model="ie.ImportExciseMethodText"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Rate</label>
                                                    <input type="text"
                                                           ng-model="ie.ImportExciseRate"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Value</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportExciseRateAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Exem. Payable</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportExciseExemptionAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Specific</label>
                                                    <input type="text"
                                                           ng-model="ie.ImportExciseSpecificRate"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Value</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportExciseSpecificAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Exem. Payable</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportExciseExemptionSpecificAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-xs-12 col-md-6">
                                <h2 class="lvh-label m-t-5">IMPORT DUTY / GST EXEMPTIONS</h2>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="hidden-xs" style="height:55px;width:100%;"></div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Duty Rate</label>
                                                    <input type="text"
                                                           ng-maxlength="12"
                                                           ng-model="ie.ImportDutyExemptionRatePercent"
                                                           ng-disabled="ImportDutyExemptionValidation('IMPORT_DUTY_RATE')"
                                                           ng-blur="CalculateExciseDutyExemptions()" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Value</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportDutyExemptionRate"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Exem. Amount</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportDutyExemptionRateAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                                    <label>Rate %</label>
                                                    <input type="text"
                                                           ng-maxlength="12"
                                                           ng-model="ie.ImportDutySpecificExemptionRatePercent"
                                                           ng-disabled="ImportDutyExemptionValidation('IMPORT_DUTY_RATE_SPECIFIC')"
                                                           ng-blur="CalculateExciseDutyExemptions()" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                                    <label>Value</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportDutySpecificExemptionRate"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                                    <label>Exem. Amount</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportDutySpecificExemptionRateAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>GST Rate %</label>
                                                    <input type="text"
                                                           id="ImportGSTExemptionPercent"
                                                           name="ImportGSTExemptionPercent"
                                                           logicon-format2="3"
                                                           ng-pattern="'^[0-9]{0,3}.?[0-9]{0,3}$'"
                                                           ng-model="ie.ImportGSTExemptionPercent"
                                                           ng-blur="CalculateExciseDutyExemptions();" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Value</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportGSTExemptionRate"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Exem. Amount</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportGSTExemptionRateAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 border-row-top ">
                                        <div class="hidden-xs" style="height:70px;width:100%;"></div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Rate</label>
                                                    <input type="text"
                                                           ng-maxlength="12"
                                                           ng-model="ie.ImportExciseExemptionRatePercent"
                                                           ng-disabled="ImportExciseDutyExemptionValidation('IMPORT_EXCISE_DUTY_RATE')"
                                                           ng-blur="CalculateExciseDutyExemptions()" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Value</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportExciseExemptionRate"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Exem. Amount</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportExciseExemptionRateAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Specific</label>
                                                    <input type="text"
                                                           ng-maxlength="12"
                                                           ng-model="ie.ImportExciseExemptionSpecificRatePercent"
                                                           ng-blur="CalculateExciseDutyExemptions()"
                                                           ng-disabled="ImportExciseDutyExemptionValidation('IMPORT_EXCISE_DUTY_RATE_SPECIFIC')" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Value</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportExciseExemptionSpecificRate"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                                    <label>Exem. Amount</label>
                                                    <input type="text"
                                                           logicon-format="2"
                                                           ng-model="ie.ImportExciseExemptionSpecificRateAmount"
                                                           ng-disabled="true" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h2 class="lvh-label m-t-5">Anti Dumping</h2>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Percentage (%)</label>
                                                <input type="text"
                                                       ng-maxlength="6"
                                                       logicon-format="2"
                                                       ng-model="ie.AntiDumpingPercentage" />
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-6">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Rate Exempted (%)</label>
                                                <input type="text"
                                                       ng-maxlength="6"
                                                       logicon-format="2"
                                                       ng-model="ie.AntiDumpingExcemption" />
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Specific</label>
                                                <input type="text"
                                                       ng-maxlength="12"
                                                       logicon-format="2"
                                                       ng-model="ie.AntiDumpingSpecific" />
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-6">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Rate Exempted</label>
                                                <input type="text"
                                                       ng-maxlength="12"
                                                       logicon-format="2"
                                                       ng-model="ie.AntiDumpingSpecificExcemption" />
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row border-row-top  m-t-5 p-t-5">
                            <div class="col-xs-12 col-md-6 border-row-right" ng-if="ie.IsVehicle">
                                <h2 class="lvh-label m-t-5">Vehicle</h2>

                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                            <label>Type</label>
                                            <md-select ng-model="ie.VehicleType" name="ie.VehicleType" ng-required="ie.IsVehicle">
                                                <md-option ng-repeat="item in lookUpData.vehicleTypeCustomList" ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                            <label>Brand</label>
                                            <input type="text"
                                                   ng-model="ie.VehicleBrand" ng-required="ie.IsVehicle" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                            <label>Model</label>
                                            <input type="text" ng-required="ie.IsVehicle"
                                                   ng-model="ie.VehicleModel" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                            <label>Engine No</label>
                                            <input type="text" ng-required="ie.IsVehicle"
                                                   ng-model="ie.VehicleEngineNo" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                            <label>Chassis No</label>
                                            <input type="text" ng-required="ie.IsVehicle"
                                                   ng-model="ie.VehicleChassisNo" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                            <label>CC</label>
                                            <input type="text" ng-required="ie.IsVehicle"
                                                   ng-model="ie.VehicleCC" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                            <label>Year</label>
                                            <input type="text" ng-required="ie.IsVehicle"
                                                   ng-model="ie.VehicleYear" logicon-limit logicon-number ng-maxlength="4" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm style="border-bottom-color: rgb(40,53,147);">
                                            <label>Used Vehicle Registration Date</label>
                                            <input mdc-datetime-picker=""
                                                   date="true" class="date-icon"
                                                   time="false"
                                                   type="text"
                                                   id="UsedVehicleRegistrationDate"
                                                   format="{{dateFormat}}"
                                                   min-date="date"
                                                   ng-model="ie.UsedVehicleRegistrationDate"
                                                   name="ie.UsedVehicleRegistrationDate">
                                        </md-input-container>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-md-6 ">


                                <h2 class="lvh-label m-t-5">Item Code</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="lvh-label" style="border:0px;background-color:transparent;margin:0px;">Item</h2>

                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="lvh-label" style="border:0px;background-color:transparent;margin:0px;">Code</h2>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <md-select ng-model="subItems[0].ItemType">
                                                <md-option md-option-empty></md-option>
                                                <md-option ng-repeat="item in lookUpData.itemDetails" ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <input type="text" ng-maxlength="4" logicon-limit logicon-number
                                                   ng-model="subItems[0].ItemCode"
                                                   ng-required="subItems[0].ItemType=='PM'||subItems[0].ItemType=='TE'" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <md-select ng-model="subItems[1].ItemType">
                                                <md-option md-option-empty></md-option>
                                                <md-option ng-repeat="item in lookUpData.itemDetails" ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <input type="text" ng-maxlength="4" logicon-limit logicon-number
                                                   ng-model="subItems[1].ItemCode"
                                                   ng-required="subItems[1].ItemType=='PM'||subItems[1].ItemType=='TE'" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <md-select ng-model="subItems[2].ItemType">
                                                <md-option md-option-empty></md-option>
                                                <md-option ng-repeat="item in lookUpData.itemDetails" ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <input type="text" ng-maxlength="4" logicon-limit logicon-number
                                                   ng-model="subItems[2].ItemCode"
                                                   ng-required="subItems[2].ItemType=='PM'||subItems[2].ItemType=='TE'" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <md-select ng-model="subItems[3].ItemType">
                                                <md-option md-option-empty></md-option>
                                                <md-option ng-repeat="item in lookUpData.itemDetails" ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <input type="text" ng-maxlength="4" logicon-limit logicon-number
                                                   ng-model="subItems[3].ItemCode"
                                                   ng-required="subItems[3].ItemType=='PM'||subItems[3].ItemType=='TE'" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <md-select ng-model="subItems[4].ItemType">
                                                <md-option md-option-empty></md-option>
                                                <md-option ng-repeat="item in lookUpData.itemDetails" ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <input type="text" ng-maxlength="4" logicon-limit logicon-number
                                                   ng-model="subItems[4].ItemCode"
                                                   ng-required="subItems[4].ItemType=='PM'||subItems[4].ItemType=='TE'" />
                                        </md-input-container>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-primary btn-sm" ng-click="submitted = true;" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
                    </div>
                </div>
            </div>

</form>
