﻿<div class="container" ng-controller="ManagementReportsCntrl">
    <div class="card">

        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">Management Reports</h2>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="card">
                        <div class="lv-header-alt clearfix m-b-5">
                            <h2 class="lvh-label">Reports</h2>
                        </div>
                        <div class="card-body card-padding p-t-25 p-b-25">
                            <div class="card-body  p-t-25 p-b-25" style="max-height: 500px;overflow-y:auto;min-height:500px; ">
                                <treecontrol class="tree-light text-links" tree-model="treedata" expanded-nodes="expandedNodes" on-selection="showSelected(node)">
                                    <a tabindex="0" class="ellipsisCss">{{node.label}}</a><!-- uib-tooltip="{{node.label}}" -->
                                </treecontrol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8" ng-show="isSelected">
                    <form id="frmReport" name="frmReport" ng-class="{'submitted': submitted}" ng-submit="GenerateReport(ope)" novalidate>
                        <div class="row">
                            <div class="col-xs-12 col-md-5">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Date From</label>
                                    <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                                           min-date="date" ng-model="ope.DateFrom">
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-5">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Date To</label>
                                    <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateTo" format="{{dateFormat}}"
                                           min-date="date" ng-model="ope.DateTo">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row "></div>
                        <div class="row ">
                            <div class="col-xs-12">
                                <button class="btn btn-default" type="button" ng-click="submitted = true;"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                                <span class="pull-right">
                                    <button class="btn btn-success" type="submit" ng-click="submitted = true;"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Generate Report</button>
                                </span>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>