﻿<div class="container" ng-controller="k9InquiryCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">K9 Inquiry</h2>
            <div class="lv-actions actions">
                <button class="btn bgm-lightgreen btn-icon"
                        type="button"
                        aria-label="button"
                        ng-click="BroadCastDeclaration({declarationNo:'NEW'})" has-Right data-rightValue="DeclarationK9.DeclarationK9" data-accessRight="1">
                    <i class="zmdi zmdi-plus" aria-hidden="true"></i>

                </button>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="card-body card-padding p-t-5 p-b-5">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading>
                        <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                    </uib-accordion-heading>
                    <div class="card">
                        <div class="card-body card-padding p-t-5 p-b-5">
                            <form id="k9InquiryCntrl.frmSearch" name="k9InquiryCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}" ng-submit="GetTableData(true)" novalidate>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Order No.</label>
                                            <input type="text"
                                                   ng-model="i.orderNo" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Declaration No.</label>
                                            <input type="text"
                                                   ng-model="i.declarationNo" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Manifest No.</label>
                                            <input type="text"
                                                   ng-model="i.manifestNo" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Ocean B/L No.</label>
                                            <input type="text"
                                                   ng-model="i.oceanBLNo" />
                                        </md-input-container>
                                    </div>

                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>House B/L No.</label>
                                            <input type="text"
                                                   ng-model="i.houseBLNo" />
                                        </md-input-container>
                                    </div>

                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Voyage No.</label>
                                            <input type="text"
                                                   ng-model="i.voyageNo" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Date From</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateFrom" format="{{dateFormat}}"
                                                   min-date="date" ng-model="i.dateFrom">
                                        </md-input-container>
                                    </div>

                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Date To</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateTo" format="{{dateFormat}}"
                                                   min-date="date" ng-model="i.dateTo">
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-1">
                                        <input type="hidden"
                                               ng-model="i.declarationType"
                                               ng-init="i.declarationType = 9109" />
                                        <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="row">
                <div class="col-xs-12">
                    <div class="" style="min-height: 250px;">
                        <div class="table-responsive">
                            <table class="table table-vmiddle" ng-table="ngTblData">
                                <tr ng-repeat="w in $data">
                                    <td data-title="'#Action'">
                                        <button class="btn btn-default ng-scope waves-effect"
                                                type="button"
                                                ng-click="BroadCastDeclaration({declarationNo:w.DeclarationNo})"
                                                aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </td>
                                    <td data-title="'Declaration No.'" sortable="'DeclarationNo'">
                                        <a style="cursor:pointer;" ng-click="BroadCastDeclaration({declarationNo:w.DeclarationNo})">{{w.DeclarationNo}}</a>
                                    </td>
                                    <!--<td data-title="'Declaration No.'" sortable="'DeclarationNo'"><a data-ui-sref="k9declaration({declarationNo:w.DeclarationNo})">{{w.DeclarationNo}}</a></td>-->
                                    <td data-title="'Order No.'" sortable="'OrderNo'">{{w.OrderNo}}</td>
                                    <!--<td data-title="'Manifest No.'" sortable="'ManifestNo'">{{w.ManifestNo}}</td>-->
                                    <td data-title="'Ocean B/L No.'" sortable="'OceanBLNo'">{{w.OceanBLNo}}</td>
                                    <td data-title="'House B/L No.'" sortable="'HouseBLNo'">{{w.HouseBLNo}}</td>
                                    <td data-title="'Voyage No.'" sortable="'VoyageNo'">{{w.VoyageNo}}</td>
                                    <!--<td data-title="'Vessel Name'" sortable="'VesselName'">{{w.VesselName}}</td>-->
                                    <td data-title="'Importer'" sortable="'LocalTraderName'">{{w.LocalTraderName}}</td>
                                    <td data-title="'Loading Port'" sortable="'LoadingPortName'">{{w.LoadingPortName}}</td>
                                    <td data-title="'Discharge Port'" sortable="'DischargePortName'">{{w.DischargePortName}}</td>
                                    <!--<td data-title="'Transhipment Port'" sortable="'TranshipmentPortName'">{{w.TranshipmentPortName}}</td>-->
                                    <td data-title="'Status'" sortable="'Status'">
                                        <span ng-style="w.OrderStatus === 'Declined' ? { color:'red' } : w.OrderStatus === 'Declaration Generated' ? { color:'green' } : w.OrderStatus === 'Partially Saved' ? { color:'blue' } : {color:'orange' }">{{w.OrderStatus}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
                    <div class="col-xs-4 col-md-3">
                        <button type="button" class="btn btn-info" ng-click="refresh()"><i class="fa fa-refresh "></i> Refresh</button>
                    </div>
                    <div class="col-xs-8 text-center col-md-6">
                        <div class="lv-header-alt clearfix m-b-10">
                            <label style="color:green;">Please use "Advance Search for  listing more K9 Declaration Entries"</label>
                        </div>
                   
                </div>
            </div>

        </div>
    </div>
</div>
