﻿<div class="container" ng-controller="DriverMasterCntrl">
    <form id="frmDriver" name="frmDriver" ng-class="{'submitted': submitted}" ng-submit="SaveDriver(d)" novalidate>


        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">Driver Master</h3>
            </div>
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Driver ID</label>

                                    <input type="text" ng-model="d.DriverID" ng-readonly="truefalse" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Branch Code</label>
                                    <md-select ng-model="d.BranchID" ng-required="true">
                                        <md-option ng-repeat="item in lookUpData.branchList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="d.BranchID" ng-required="true"
                                            ng-options="s.Value as s.Text for s in lookUpData.branchList"></select>-->
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Driver Name</label>

                                    <input type="text" ng-model="d.DriverName" ng-required="true" />
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <md-switch ng-model="d.IsActive" class="md-primary" md-no-ink aria-label="Active Account">Active Account</md-switch>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Details" class="md-primary">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-9">
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Vendor</label>

                                                        <input type="text"
                                                               ng-class="{'loadinggif': d.VendorNameLoading}"
                                                               class="search-icon"
                                                               ng-model="d.VendorName"
                                                               typeahead-min-length="3"
                                                               uib-typeahead="d.Text as d.Text for d in VendorResults($viewValue)"
                                                               typeahead-loading="d.VendorNameLoading"
                                                               typeahead-wait-ms="100"
                                                               typeahead-editable="false"
                                                               ng-required="true"
                                                               typeahead-on-select="CustomerSelected2($item, 'VendorCode')" />
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Driver Type</label>
                                                        <md-select ng-model="d.DriverType" ng-required="true">
                                                            <md-option ng-repeat="item in lookUpData.driverTypeList" ng-value="item.Value">
                                                                {{item.Text}}
                                                            </md-option>
                                                        </md-select>
                                                        <!--<select ng-model="d.DriverType" ng-required="true"
                                                                ng-options="s.Value as s.Text for s in lookUpData.driverTypeList"></select>-->
                                                    </md-input-container>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Freight Mode</label>
                                                        <md-select ng-model="d.FreightMode" ng-required="true">
                                                            <md-option ng-repeat="item in lookUpData.freightModeList" ng-value="item.Value">
                                                                {{item.Text}}
                                                            </md-option>
                                                        </md-select>
                                                        <!--<select ng-model="d.FreightMode" ng-required="true"
                                                                ng-options="s.Value as s.Text for s in lookUpData.freightModeList"></select>-->
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Date Joined</label>
                                                        <input mdc-datetime-picker="" class="date-icon" date="true" time="false"   ng-model="d.JoinDate"
                                                               ng-required="true" type="text" id="TransactionDate" format="{{DateFormat}}"
                                                               min-date="date">
                                                        <!--<div class="dropdown">
            <a class="dropdown-toggle" id="JoinDate" role="button" data-toggle="dropdown">
                <div class="input-group">
                    <input type="text"
                           class="form-control input-sm datepicker"
                           ng-model="d.JoinDate"
                           ng-required="true"
                           date-time-input="MM/DD/YYYY">
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker ng-model="d.JoinDate"
                                data-datetimepicker-config="{ dropdownSelector: '#JoinDate', startView:'day', minView:'day' }" />
            </ul>
        </div>-->
                                                    </md-input-container>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                   <md-input-container class="md-block" flex-gt-sm><label>Date Resigned</label>
                                                       <input mdc-datetime-picker="" class="date-icon" date="true" time="false"   ng-model="d.ResignDate"
                                                              ng-required="true" type="text" id="TransactionDate" format="{{DateFormat}}"
                                                              min-date="date">
                                                    <!--<div class="dropdown">
                                                        <a class="dropdown-toggle" id="ResignDate" role="button" data-toggle="dropdown">
                                                            <div class="input-group">
                                                                <input type="text"
                                                                       class="form-control input-sm datepicker"
                                                                       ng-model="d.ResignDate"
                                                                       ng-required="true"
                                                                       date-time-input="MM/DD/YYYY">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="d.ResignDate"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#ResignDate', startView:'day', minView:'day' }" />
                                                        </ul>
                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>IC No.</label>

                                                        <input type="text" ng-model="d.ICNo" ng-required="true" />
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="row" >

                                            </div>
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Address</label>

                                                        <input type="text" ng-model="d.address.Address1" ng-required="true" />
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Address2</label>

                                                        <input type="text" ng-model="d.address.Address2" ng-required="true" />
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="row" >
                                                
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>City / Suburb</label>

                                                        <input type="text" ng-model="d.address.City" ng-required="true" />
                                                    </md-input-container>                                                
                                                </div>
                                           
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>State</label>

                                                        <input type="text" ng-model="d.address.State" ng-required="true" />
                                                    </md-input-container>                                                
                                                </div>
                                            </div>
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Country</label>
                                                        <md-select ng-model="d.address.CountryCode" ng-required="true">
                                                            <md-option ng-repeat="item in lookUpData.freightModeList" ng-value="item.CompanyName">
                                                                {{item.CompanyCode}}
                                                            </md-option>
                                                        </md-select>
                                                        <!--<select ng-model="d.address.CountryCode"
                                                                ng-options="s.CompanyCode as s.CompanyName for s in CountriesList" ng-required="true"></select>-->
                                                    </md-input-container> </div>   
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Post Code</label>

                                                        <input type="text" ng-model="d.address.ZipCode" ng-required="true" />
                                                    </md-input-container>
                                                </div>                                             
                                            </div>
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Tel No.</label>

                                                        <input ng-model="d.address.TelNo" type="text" ng-required="true" />
                                                    </md-input-container>
                                                </div>
                                                
                                           
                                              
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label style="white-space:nowrap;">Mobile No.</label>

                                                        <input ng-model="d.address.MobileNo" type="text" ng-required="true" />
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Fax No.</label>

                                                        <input ng-model="d.address.FaxNo" type="text" ng-required="true" />
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-6">
                                                   <md-input-container class="md-block" flex-gt-sm><label>Email</label>
                                               
                                                    <input ng-model="d.address.Email" type="text"  ng-required="true"/>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <md-radio-group ng-model="d.IsDriver">
                                                        <md-radio-button value="true" class="md-primary">Driver</md-radio-button>
                                                        <md-radio-button value="false" class="md-primary"> Attendant </md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                </div>
                <div class="row m-t-15">
    <div class="col-xs-12 text-right">
        <button class="btn btn-primary btn-sm" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
        <button class="btn btn-danger btn-sm" ng-click=""><i class="zmdi zmdi-delete" aria-hidden="true"></i>&nbsp;Delete</button>
        <button class="btn btn-info btn-sm" ng-click=""><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
        <button class="btn btn-warning btn-sm" ng-click=""><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>
    </div>
</div>
            </div>
           
        </div>
    </form>
</div>
