﻿<form id="frmQuotationDetails" name="frmQuotationDetails" ng-class="{'submitted': submitted}" ng-submit="addCqDetails(details);" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Customer Quotation Details&nbsp;<i ng-show="details.showLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></h4>
        <input type="hidden" ng-model="details.ItemId" />
        <input type="hidden" ng-model="details.Index" />
    </div>
    <div class="modal-body">
        <div class="c-overflow" ng-style="{'max-height': iframeHeight - 80 + 'px'}" resize>
            <div class="modalbodymain">
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Job Types</label>
                                    <md-select ng-model="details.JobTypeDescription" ng-change="details.JobType = (lookupData.jobTypeList | filter: { Text: details.JobTypeDescription})[0].Value"
                                               ng-required="true">
                                        <md-option ng-repeat="item in lookupData.jobTypeList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select
                                            ng-model="details.JobTypeDescription"
                                            ng-options="s.Text as s.Text for s in lookupData.jobTypeList"
                                            ng-change="details.JobType = (lookupData.jobTypeList | filter: { Text: details.JobTypeDescription})[0].Value"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Currency</label>
                                    <md-select ng-model="details.CurrencyCode" ng-required="true">
                                        <md-option ng-repeat="item in lookupData.defaultCurrency" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select
                                            ng-model="details.CurrencyCode"
                                            ng-options="s.Value as s.Text for s in lookupData.defaultCurrency"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Job Category</label>
                                    <md-select ng-model="details.JobCategory" ng-required="true">
                                        <md-option ng-repeat="item in lookupData.jobCategoryList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select
                                            ng-model="details.JobCategory"
                                            ng-options="s.Value as s.Text for s in lookupData.jobCategoryList"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Selling Rate</label>

                                    <input type="text"
                                           ng-model="details.SellRate"
                                           ng-required="true" logicon-decimal />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Shipment Type</label>
                                    <md-select ng-model="details.ShipmentTypeDescription" ng-change="details.ShipmentType = (lookupData.shipmentTypeList | filter: { Text: details.ShipmentTypeDescription})[0].Value"
                                               ng-required="true">
                                        <md-option ng-repeat="item in lookupData.shipmentTypeList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.ShipmentTypeDescription"
                                            ng-options="s.Text as s.Text for s in lookupData.shipmentTypeList"
                                            ng-change="details.ShipmentType = (lookupData.shipmentTypeList | filter: { Text: details.ShipmentTypeDescription})[0].Value"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Est Cost</label>

                                    <input type="text"
                                           ng-model="details.EstCost"
                                           ng-required="true" logicon-decimal />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Charge Code</label>

                                    <input type="text"
                                           class="search-icon"
                                           ng-model="details.CargoTypeDescription"
                                           typeahead-min-length="3"
                                           uib-typeahead="d.Text as d.Text for d in ChargeCodeResults($viewValue, 'freightForwarder')"
                                           typeahead-on-select="details.ChargeCode = ($item.Value)"
                                           typeahead-loading="details.showLoading"
                                           typeahead-wait-ms="1000"
                                           typeahead-editable="false" ng-required="true" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Payment Term</label>
                                    <md-select ng-model="details.PaymentTerm" ng-required="true">
                                        <md-option ng-repeat="item in lookupData.paymentTermList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.PaymentTerm"
                                            ng-options="s.Text as s.Text for s in lookupData.paymentTermList"></select>-->
                                </md-input-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Billing Unit</label>
                                    <md-select ng-model="details.BillingUnit" ng-required="true">
                                        <md-option ng-repeat="item in lookupData.billingUnitList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.BillingUnit"
                                            ng-options="s.Value as s.Text for s in lookupData.billingUnitList"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Payment To</label>

                                    <select ng-model="details.PaymentTerm"
                                            ng-options="s.Text as s.Text for s in lookupData.paymentToList"></select>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Transport Type</label>
                                    <md-select ng-model="details.TransportType" ng-required="true">
                                        <md-option ng-repeat="item in lookupData.transportModeList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.TransportType"
                                            ng-options="s.Value as s.Text for s in lookupData.transportModeList"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Min Amt</label>

                                    <input type="text"
                                           ng-model="details.MinAmt"
                                           ng-required="true" logicon-decimal />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Trailer Type</label>
                                    <md-select ng-model="details.TrailerType" ng-required="true">
                                        <md-option ng-repeat="item in lookupData.trailerType" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.TrailerType"
                                            ng-options="s.Value as s.Text for s in lookupData.trailerType"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Max. Amt.</label>

                                    <input type="text"
                                           ng-model="details.MaxAmnt"
                                           ng-required="true" logicon-decimal />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Special Handling</label>
                                    <md-select ng-model="details.SpecialHandling" ng-required="true">
                                        <md-option ng-repeat="item in lookupData.splHandlingList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.SpecialHandling"
                                            ng-options="s.Value as s.Text for s in lookupData.splHandlingList"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Size/Type</label>
                                    <md-select ng-model="details.Size" ng-change="sizeChanged();" ng-required="true">
                                        <md-option ng-repeat="item in lookupData.sizeList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.Size"
                                            ng-options="s.Value as s.Text for s in lookupData.sizeList"
                                            ng-change="sizeChanged();"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <md-select ng-model="details.Type" ng-required="true"
                                               ng-disabled="details.Size == null">
                                        <md-option ng-repeat="item in lookupData.TypeList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.Type"
                                    ng-disabled="details.Size == null"
                                    ng-options="s.Value as s.Text for s in lookupData.TypeList"
                                    ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Cargo Handling</label>
                                    <md-select ng-model="details.CargoHandling" ng-required="true">
                                        <md-option ng-repeat="item in lookupData.cargoHandlingList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.CargoHandling"
                                            ng-options="s.Value as s.Text for s in lookupData.cargoHandlingList"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Cargo Type</label>
                                    <md-select ng-model="details.CargoType" ng-required="true">
                                        <md-option ng-repeat="item in lookupData.cargoTypeList" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.CargoType"
                                            ng-options="s.Value as s.Text for s in lookupData.cargoTypeList"
                                            ng-required="true"></select>-->
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Commodity</label>
                                    <md-select ng-model="details.Commodity"
                                               ng-required="true">
                                        <md-option value="1000">
                                            COMMODITY
                                        </md-option>
                                    </md-select>
                                    <!--<select ng-model="details.Commodity"
                                            ng-required="true">
                                        <option value="1000">COMMODITY</option>
                                    </select>-->
                                </md-input-container>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Remarks</label>

                                    <textarea class="form-control" ng-model="details.Remarks"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="checkbox m-b-15">
                                    <label>
                                        <input type="checkbox" value=""
                                               aria-label="Telex Release"
                                               ng-model="details.IsSlabRate">
                                        <i class="input-helper"></i>
                                        Slab-Rate
                                    </label>
                                </div>
                                <!--<md-checkbox class="md-primary"
                                             aria-label="Telex Release"
                                             ng-model="details.IsSlabRate">Slab-Rate</md-checkbox>-->
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-xs-12">
                                <div class="card">
                                    <div class="card-body card-padding p-t-25 p-b-25">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="checkbox m-b-15">
                                                    <label>
                                                        <input type="checkbox" value="" ng-model="details.IsFlatRate"
                                                               aria-label="Priority">
                                                        <i class="input-helper"></i>
                                                        Flat Rate
                                                    </label>
                                                </div>
                                                <!--<md-checkbox class="md-primary"
                                                             aria-label="Telex Release"
                                                             ng-model="details.IsFlatRate">Flat Rate</md-checkbox>-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="checkbox m-b-15">
                                                    <label>
                                                        <input type="checkbox" value="" ng-model="details.IsRoundTrip"
                                                               aria-label="Priority">
                                                        <i class="input-helper"></i>
                                                        Roundup To Zero Decimal
                                                    </label>
                                                </div>
                                                <!--<md-checkbox class="md-primary"
                                                             aria-label="Telex Release"
                                                             ng-model="details.IsRoundTrip">Roundup To Zero Decimal</md-checkbox>-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>From Range</label>

                                                    <input type="text"
                                                           ng-model="details.SlabFrom"
                                                           ng-required="true"
                                                           logicon-decimal />
                                                </md-input-container>
                                                <!--
                                                    <div class="dropdown dtcss">
                                                        <a class="dropdown-toggle" id="SlabFrom" role="button" data-toggle="dropdown">
                                                            <div class="input-group">
                                                                <input type="text"
                                                                       class="form-control input-sm datepicker"
                                                                       ng-model="details.SlabFrom"
                                                                       ng-required="true"
                                                                       date-time-input="MM/DD/YYYY">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="details.SlabFrom"
                                                                            data-datetimepicker-config="{
                                                        dropdownSelector: '#SlabFrom',
                                                        startView: 'day',
                                                        minView: 'day' }" />
                                                        </ul>
                                                    </div>
                                                </div>
                                                -->
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>To Range</label>

                                                    <input type="text"
                                                           ng-model="details.SlabTo"
                                                           ng-required="true"
                                                           logicon-decimal />
                                                </md-input-container>
                                                <!--
                                                <div class="dropdown dtcss">
                                                    <a class="dropdown-toggle" id="SlabTo" role="button" data-toggle="dropdown">
                                                        <div class="input-group">
                                                            <input type="text"
                                                                   class="form-control input-sm datepicker"
                                                                   ng-model="details.SlabTo"
                                                                   ng-required="true"
                                                                   date-time-input="MM/DD/YYYY">
                                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                        </div>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <datetimepicker ng-model="details.SlabTo"
                                                                        data-datetimepicker-config="{
                                                    dropdownSelector: '#SlabTo',
                                                    startView: 'day',
                                                    minView: 'day' }" />
                                                    </ul>
                                                </div>
                                                -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Base Quantity</label>

                                                    <input type="text" ng-model="details.a29" logicon-decimal />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Base Amount</label>

                                                    <input type="text" ng-model="details.a30" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-md-9"></div>
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-primary btn-sm" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
                    </div>
                </div>
            </div>
</form>