﻿<div class="container" ng-controller="RebateTarrifCntrl">
    <form id="frmRebateTariff" name="frmRebateTariff" ng-class="{'submitted':submitted}" ng-submit="SaveRebateTariff(th)" novalidate>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="lv-header-alt clearfix m-b-5">
                        <h3 class="lvh-label">Rebate Tariff</h3>
                    </div>
                    <div class="card-body card-padding p-t-25 p-b-25">
                        <div class="row">
                            <div class="col-xs-12 col-md-2">
                                <label>Quotation No.</label>
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <input type="text" ng-model="th.QuotationNo" readonly="readonly"  />
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <label class="control-label  pull-right" for="EffectiveDate">Effective Date</label>
                            </div>
                            <div class="dropdown col-md-2">
                                <a class="dropdown-toggle" id="EffectiveDate" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control input-sm datepicker"
                                               ng-model="th.EffectiveDate"
                                               ng-required="true"
                                               date-time-input="{{dateFormat}}">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="th.EffectiveDate"
                                                    data-datetimepicker-config="{
                                        dropdownSelector: '#EffectiveDate',
                                        startView: 'day',
                                        minView: 'day' }" />
                                </ul>
                            </div>

                            <div class="col-md-1">
                                <label class="control-label  pull-right" for="ExpiryDate">Expiry Date</label>
                            </div>
                            <div class="dropdown col-md-2">
                                <a class="dropdown-toggle" id="ExpiryDate" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control input-sm datepicker"
                                               ng-model="th.ExpiryDate"
                                               ng-required="true"
                                               date-time-input="{{dateFormat}}">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="th.ExpiryDate"
                                                    data-datetimepicker-config="{
                                        dropdownSelector: '#ExpiryDate',
                                        startView: 'day',
                                        minView: 'day' }" />
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" ng-click="AddDetail(-1)"><i class="fa fa-plus"></i>&nbsp;Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-xs-12">
                                  <div class="table-responsive"><table class="table table-striped table-vmiddle">
                                    <thead >
                                        <tr>
                                            <th>#Action</th> <th>Module</th>
                                            <th>Affiliation </th>
                                            <th>Tariff Mode </th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Rebate (%)</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in th.tariffDetails">
                                            <td>
                                                <button class="btn btn-primary" type="button" ng-click="AddDetail($index)"><i class="zmdi zmdi-edit"></i></button>
                                                <button class="btn btn-danger" type="button" ng-click="DeleteDetail($index)"><i class="zmdi zmdi-delete"></i></button>
                                            </td> <td>{{item.ModuleDescription}}</td>
                                            <td>{{item.AssociationDescription}}</td>
                                            <td>{{item.TariffModeDescription}}</td>
                                            <td>{{item.SlabFrom}}</td>
                                            <td>{{item.SlabTo}}</td>
                                            <td>{{item.Percentage}}</td>
                                           
                                        </tr>

                                    </tbody>
                                </table></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <div class="">
                                    <button type="submit" ng-click="submitted = true" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                                    <button type="button" class="btn btn-default" onclick="location.href = '#/MasterData/rebatelist'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
