﻿<div class="container " data-ng-controller="UsersListCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">Users List</h2>
            <ul class="lv-actions actions">
                <li>
                    <button class="btn bgm-lightgreen btn-icon"  data-ui-sref="userprofile({userID:NEW})" data-ng-click="mactrl.sidebarStat($event)" aria-label="button"><i class="zmdi zmdi-plus btn-small"></i></button>&nbsp;&nbsp;&nbsp;
                </li>
            </ul>

            <!--<div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="userInfo('NEW');" aria-label="button">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    
                </button>
            </div>-->
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <uib-accordion-heading>
                                <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                            </uib-accordion-heading>
                            <form id="UsersListCntrl.frmSearch" name="UsersListCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}"
                                  ng-submit="GetTableData(true)" novalidate>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="">
                                            <div class="card-body card-padding p-t-5 p-b-5">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>EmailID</label>
                                                            <input type="text"
                                                                   ng-model="Search.EmailID" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Full Name</label>
                                                            <input type="text"
                                                                   ng-model="Search.Name" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>UserType</label>
                                                            <md-select ng-model="Search.UserType">
                                                                <md-option md-option-empty></md-option>
                                                                <md-option ng-repeat="item in lookUpData.userGroupTypeList" ng-value="item.Value">
                                                                    {{item.Text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Designation</label>
                                                            <md-select ng-model="Search.Designation">
                                                                <md-option md-option-empty></md-option>
                                                                <md-option ng-repeat="item in lookUpData.userDesignationTypeList" ng-value="item.Value">
                                                                    {{item.Text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    
                                                    <div class="col-xs-12 col-md-4">
                                                        <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-vmiddle"  ng-table="ngTblData">
                            <!--<thead >
                                <tr>
                                    <th>#Action</th>
                                    <th>Email ID</th>
                                    <th>Full Name</th>
                                    <th>Designation</th>
                                    <th>Type</th>
                                    
                                </tr>
                            </thead>-->
                            <tbody>
                                <tr ng-repeat="user in $data">
                                    <td data-title="'#Action.'">
                                        <button class="btn btn-default ng-scope waves-effect"
                                                type="button"
                                                 data-ui-sref="userprofile({userID:user.UserID})"
                                                aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </td>
                                    <td data-title="'Email ID.'" sortable="'EmailID'">{{user.EmailID}}</td>
                                    <td data-title="'Full Name.'" sortable="'UserName'">{{user.UserName}}</td>
                                    <td data-title="'Designation.'" sortable="'UserDesignationDescription'">{{user.UserDesignationDescription}}</td>
                                    <td data-title="'User Type.'" sortable="'UserGroupDescription'">{{user.UserGroupDescription}}</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div> 
    </div>
</div>