﻿
<form id="frmContainerInfo" name="frmContainerInfo" ng-class="{'submitted':submitted}" ng-submit="SaveContainer(con)" novalidate>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add Container Request</h4>
    </div>
    <div class="modal-body">
        <div class="c-overflow" ng-style="{'max-height': iframeHeight - 80 + 'px'}" resize>
            <div class="modalbodymain">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Type Size</label>
                            <md-select ng-model="con.Size" ng-required="">
                                <md-option ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                            <!--<select></select>-->
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Delivery Add.</label>

                            <input type="text" ng-model="con.DeliveryAddress" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Req. Dt</label>
                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" ng-model="con.RequestDate"
                                   ng-required="true" type="text" id="TransactionDate" format="{{DateFormat}}"
                                   min-date="date">

                        </md-input-container>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" ng-model="dt"
                                   ng-required="true" type="text" id="TransactionDate" format="{{DateFormat}}"
                                   min-date="date">


                        </md-input-container>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Container No.</label>

                                    <input type="text" ng-model="con.ContainerNo"/>
                                </md-input-container>
                            </div>

                            <div class="col-xs-12 ">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Order No.</label>

                                    <input type="text" ng-model="con.OrderNo"/>
                                </md-input-container>
                            </div>

                            <div class="col-xs-12 ">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Trailer Type</label>
                                    <md-select ng-model="con.TrailerType" ng-required="">
                                        <md-option ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select></select>-->
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 ">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Job No.</label>

                                    <input type="text"  ng-model="con.JobNo"/>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <textarea></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Empty Dehire</label>
                                    <md-select ng-model="con.EmptyDehire" ng-required="">
                                        <md-option ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                    <!--<select></select>-->
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Container Operator</label>

                                    <input type="text" ng-model="con.ContainerOperator"/>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Remarks</label>

                                    <textarea rows="3" ng-model="con.Remark"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12 col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>


