﻿<div class="container" ng-controller="OperationMonitor">
    <div class="card">
        <div  class="lv-header-alt clearfix m-b-5">
           
            <h2 class="lvh-label">Haulage Operation Monitor</h2>
            <ul class="lv-actions actions m-r-5">
                <li>
                    <button class="btn bgm-lightgreen btn-icon" data-ui-sref="addoperationmonitor()" data-ng-click="mactrl.sidebarStat($event)">
                        <i class="zmdi zmdi-plus"></i>
                    </button>
                </li>
            </ul> 
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Container No.</label>

                                <input type="text" class="form-control input-sm" />
                            </md-input-container>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" type="button">Search</button>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <md-input-container class="md-block" flex-gt-sm>
                                <input mdc-datetime-picker="" date="true" time="false" type="text" id="dateFrom" format="{{dateFormat}}" class="date-icon"
                                       min-date="date" name="k1.declarationInvoice.InvoiceDate"
                                       ng-required="true"
                                       ng-model="k1.declarationInvoice.InvoiceDate">
                            </md-input-container>
                        </div>
                        <div class="col-md-4 pull-left">
                            <button class="btn btn-primary " type="button">Trucks</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table  table-vmiddle">
                                    <tbody>
                                        <tr>
                                            <td>GI001</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>GI003</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>GI006</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>GI007</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>GI018</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Planned</button>
                                <button type="button" class="btn btn-success">In Progress</button>
                                <button type="button" class="btn btn-warning">Completed</button>
                                <button type="button" class="btn btn-info">Staging</button>
                                <button type="button" class="btn btn-danger">Back To Back</button>
                            </div>
                            <div class="pull-right">
                                <div class="checkbox m-b-15">
                                    <label>
                                        <input type="checkbox" value="" aria-label="Show Tool Tip">
                                        <i class="input-helper"></i>
                                        Show Tool Tip
                                    </label>
                                </div>
                                <!--<md-checkbox aria-label="Show Tool Tip">Show Tool Tip</md-checkbox>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <button class="btn btn-primary">Filter</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table  table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th>Hold</th>
                                            <th>Job</th>
                                            <th>Job No.</th>
                                            <th>Movement</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
