﻿<div class="container " ng-controller="EmailSettingController">
    <form id="frmEmailSetting" name="frmEmailSetting" ng-submit="SaveEmailSetting(e)"
          ng-class="{'submitted': submitted}" novalidate>
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h2 class="lvh-label hidden-xs">Email Setting</h2>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Host</label>
                            <input type="text" ng-model="e.Host" ng-maxlength="100" logicon-limit />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Port</label>
                            <input type="text" ng-model="e.Port" ng-maxlength="4" logicon-limit logicon-number />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Username</label>
                            <input type="text" ng-model="e.Username" ng-maxlength="100" logicon-limit />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Password</label>
                            <input type="password" ng-model="e.Password" ng-maxlength="100" logicon-limit />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6"> 
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Transport</label>
                            <md-select ng-model="e.Transport">                                
                                <md-option value="YES">SSL</md-option>
                                <md-option value="NO">Other</md-option>
                                <!--<md-option value="SSL2">SSL2</md-option>-->
                            </md-select>
                        </md-input-container>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">                        
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>SMTP</label>                            
                            <md-select ng-model="e.Smtp">
                                <md-option value="true">YES</md-option>
                                <md-option value="false">NO</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right m-t-10 m-b-10">
                        <button type="submit" ng-click="submitted = true" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                        <!--<button class="btn btn-default" type="button" data-ui-sref="owner" data-ng-click="mactrl.sidebarStat($event)">
                            <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back
                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>