﻿<div class="container" ng-controller="AssociationHeaderController">
    <form id="frmAssociationList" name="frmAssociationList" ng-submit="SaveAssociation(association)"
          ng-class="{'submitted': submitted}" novalidate>
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h2 class="lvh-label hidden-xs">Affiliation</h2>
            </div>
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="row">
                    <input type="hidden" ng-model="association.AssociationID" />
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Country</label>
                            <md-select ng-model="association.CountryCode" ng-required="true">
                                <md-option ng-repeat="item in lookupData" ng-value="item.CompanyCode">
                                    {{item.CompanyName}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Affiliation Name</label>
                            <input type="text"
                                   ng-model="association.AssociationName" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <md-input-container class="md-block">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Description</label>
                                <textarea ng-model="association.Description"></textarea>
                            </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-right">
                            <button class="btn btn-primary m-b-5"
                                    type="button"
                                    ng-click="AddDetail(-1)"
                                    aria-label="button"><i class="fa fa-plus"></i>&nbsp;Add</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>#Action</th>
                                        <th>Company Name</th>
                                        <th>Email ID</th>
                                        <th>ROC</th>
                                        <th>Join Date</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="association in association.associationDetails">
                                    <tr>
                                        <td>
                                            <button class="btn btn-default ng-scope waves-effect"
                                                    type="button"
                                                    ng-click="AddDetail($index)"
                                                    aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="btn btn-danger ng-scope waves-effect"
                                                    type="button"
                                                    ng-click="DeleteDetail($index)"
                                                    aria-label="button" uib-tooltip="Delete" tooltip-placement="top">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </td>
                                        <td>{{association.CompanyName}}</td>
                                        <td>{{association.Email}}</td>
                                        <td>{{association.ROCNumber}}</td>
                                        <td>{{association.JoinDate | date: 'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row p-t-10">
                    <div class="col-xs-12">
                        <button type="submit" ng-click="submitted = true" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                        <button class="btn btn-default pull-right" type="button" data-ui-sref="AssociationList" data-ng-click="mactrl.sidebarStat($event)">
                            <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
