﻿<div class="container" ng-controller="HaulageCollectionAdvice">
    <div class="card">
        <div  class="lv-header-alt clearfix m-b-5">
            <h3  class="lvh-label">Collection Advice</h3>
            <ul class="lv-actions actions m-r-5">
                <li>
                    <button class="btn bgm-lightgreen btn-icon" data-ui-sref="addcollectionadvice()" data-ng-click="mactrl.sidebarStat($event)">
                        <i class="zmdi zmdi-plus"></i>
                    </button>
                </li>
            </ul> 
        </div>
        <div  class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table  table-vmiddle">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>New</th>
                                    <th>Closing/Dehire Date & Time</th>
                                    <th>Request Date & Time</th>
                                    <th>Container No.</th>
                                    <th>Type Size</th>
                                    <th>Job No.</th>
                                    <th>Customer Name</th>
                                    <th>Pickup From</th>
                                    <th>Pickup Area/Zone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
