﻿<div class="container" ng-controller="CustomerInvoiceCntrl">
    <style type="text/css">
        .myCustomerPopOver .popover-inner {
            width: 580px;
        }

        md-checkbox {
            margin-bottom: 5px;
        }
    </style>
    <form id="frmCustomerInfo" name="frmCustomerInfo" ng-class="{'submitted':submitted}" ng-submit="SaveCustomerInvoiceDetails(cin)" novalidate>
        <script type="text/ng-template" id="myPopoverTemplate.html">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-vmiddle">
                            <thead>
                                <tr>
                                    <th>Address</th>
                                    <th>Address2</th>
                                    <th>Post Code</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>TEL NO</th>
                                    <th>FAX NO</th>
                                    <th>Mobile No.</th>
                                    <th>City/Suburb</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Details" ng-click="DataAddress(item)">
                                    <td>{{item.Address1}}</td>
                                    <td>{{item.Address2}}</td>
                                    <td>{{item.ZipCode}}</td>
                                    <td>{{item.State}}</td>
                                    <td>{{item.CountryCode}}</td>
                                    <td>{{item.TelNo}}</td>
                                    <td>{{item.FaxNo}}</td>
                                    <td>{{item.MobileNo}}</td>
                                    <td>{{item.City}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row p-t-25" ng-if="IsaddressValidated">
                <div class="col-xs-12 ">
                    <div class="card">
                        <div class="card-body card-padding p-t-25 p-b-25">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <label ng-bind="SelectedDetails.Address1">Address</label><br />
                                    <label ng-bind="SelectedDetails.Address2">Address2</label><br />
                                    <label ng-bind="SelectedDetails.City">City/Suburb</label><br />
                                    <label ng-bind="SelectedDetails.State">State</label><br />
                                    <label ng-bind="SelectedDetails.CountryCode">Country</label><br />
                                    <label ng-bind="SelectedDetails.ZipCode">Post Code</label><br />
                                    <label ng-bind="SelectedDetails.MobileNo">Mobile No</label><br />
                                    <label ng-bind="SelectedDetails.TelNo">TEL NO.</label><br />
                                    <label ng-bind="SelectedDetails.FaxNo">FAX NO.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary " type="submit" ng-click="SaveAddress(SelectedDetails)">
                            <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Ok
                        </button>
                        <button ng-click="cin.isAddressOpen = false" type="button" class="btn btn-default ">Cancel</button>
                    </div>
                </div>
            </div>

        </script>
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">Customer Invoice</h3>
            </div>
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="row m-b-15">
                    <div class="col-xs-12 col-md-9">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Customer</label>
                                            <input type="text" ng-model="cin.CustomerName" disabled />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Remarks</label>
                                            <textarea ng-model="cin.Remark"
                                                      md-maxlength="70" logicon-limit rows="3" md-select-on-focus style="overflow-y:auto"></textarea>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary btn-sm"
                                                uib-popover-template="'myPopoverTemplate.html'"
                                                popover-placement="right"
                                                popover-is-open="cin.isAddressOpen"
                                                popover-title="Address" type="button">
                                            Address
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Invoice No</label>
                                            <input type="text" ng-model="cin.InvoiceNo" disabled />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Invoice Date</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="OrderDate" format="{{dateFormat}}"
                                                   min-date="date" ng-model="cin.InvoiceDate"
                                                   ng-required="isextra">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Credit Term</label>
                                            <input type="text" ng-model="cin.CreditTerm" disabled />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Tax Amount</label>
                                            <input type="text"  id="TaxAmount" name="TaxAmount" ng-model="cin.TaxAmount" ng-pattern="'^[0-9]{0,9}.?[0-9]{0,2}$'" logicon-format2="2" disabled />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Currency</label>
                                            <md-select ng-model="cin.CurrencyCode" ng-change="SelectCurrencyCode(cin.CurrencyCode);" ng-init="cin.CurrencyCode = 'MYR'" disabled>
                                                <md-option ng-repeat="item in lookupData.currencyList" ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Total Amount</label>
                                            <input type="text" id="TotalAmount" name="TotalAmount" ng-model="cin.TotalAmount" ng-pattern="'^[0-9]{0,9}.?[0-9]{0,2}$'" logicon-format2="2" disabled />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Module</label>
                                            <md-select ng-model="cin.Module" ng-init="cin.Module = 4058" disabled>
                                                <md-option ng-repeat="item in lookupData.moduleList" ng-value="item.Value">
                                                    {{item.Text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3" id="profile-main" style="min-height:100px;">
                        <div class="pmo-block pmo-contact hidden-xs p-5" ng-if="cin.AddressId>0">
                            <h2>Address</h2>
                            <ul>
                                <li>
                                    <i class="zmdi zmdi-pin"></i>
                                    <address class="m-b-0 ng-binding">
                                        {{ Address1 }}<br>{{ Address2 }}
                                        <br />{{ City }} , {{ State }} , {{ ZipCode }}
                                    </address>
                                </li>
                                <li ng-if="TelNo != null && TelNo != ''" class="ng-binding"><i class="zmdi zmdi-phone"></i> {{TelNo}}</li>
                                <li ng-if="MobileNo != null && MobileNo != ''" class="ng-binding"><i class="zmdi zmdi-smartphone-android"></i>{{MobileNo}}</li>
                                <li ng-if="FaxNo != null && FaxNo != ''" class="ng-binding"><i class="fa fa-fax" aria-hidden="true"></i>{{FaxNo}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Order No.</th>
                                        <th>Size</th>
                                        <th>Charge Code</th>
                                        <th>Curr.</th>
                                        <th>Ex. Rate</th>
                                        <th>Billing Unit</th>
                                        <th>Qty.</th>
                                        <th>Price</th>
                                        <th>Base Amt.</th>
                                        <th>Local Amt.</th>
                                        <th>Tax Amt.</th>
                                        <th>GST  Code</th>
                                        <th>Total Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in cin.invoiceDetailList">
                                        <td>{{item.OrderNo}}</td>
                                        <td>{{item.Size}}</td>
                                        <td>{{item.ChargeCode}}</td>
                                        <td>{{item.CurrencyCode}}</td>
                                        <td>{{item.ExRate.toFixed(4)}}</td>
                                        <td>{{item.BillingUnitDescription}}</td>
                                        <td>{{item.Qty.toFixed(2)}}</td>
                                        <td>{{item.Price.toFixed(2)}}</td>
                                        <td>{{item.ActualAmount.toFixed(2)}}</td>
                                        <td>{{item.LocalAmount.toFixed(2)}}</td>
                                        <td>{{item.TaxAmount.toFixed(2)}}</td>
                                        <td>{{item.OutPutGSTDescription}}</td>
                                        <td>{{item.TotalAmount.toFixed(2)}}</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row m-t-15">
                    <div class="col-xs-12 col-md-6">
                        <button class="btn bgm-bluegray" ng-disabled="cin.invoiceDetailList.length == 0" ng-click="submitted=true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button class="btn btn-primary" type="button" ng-click="PrintcustomercashbillDetails()" ng-disabled="!cin.IsApproved"><i class="zmdi zmdi-local-printshop f-16"></i>&nbsp;Print</button>
                        <button class="btn btn-success"  type="button" ng-click="ApproveCancelCustomerDetails()" ng-disabled="!cin.IsApproved" ng-value="approveCancelBtn"><i class="zmdi zmdi-check-circle-u f-16" aria-hidden="true"></i>&nbsp;{{approveCancelBtn}}</button>
                        <!--<button class="btn btn-success" ng-click="ApprovecustomercashbillDetails(false)" ng-disabled="!cin.IsApproved"><i class="zmdi zmdi-check-circle-u f-16" aria-hidden="true"></i>&nbsp;Disapprove</button>-->
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>
