﻿<div class="container" ng-controller="CustomerInvoiceListCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">Customer Invoice List</h2>
            <!--<div class="lv-actions actions">
                <button class="btn bgm-lightgreen btn-icon"
                        type="button"
                        aria-label="button"
                        ng-click="BroadCastInvoice({Invoiceno:'NEW'})">
                    <i class="zmdi zmdi-plus" aria-hidden="true"></i>
                </button>&nbsp;&nbsp;&nbsp;
               
            </div>-->
        </div>
        <div class="card-body card-padding p-t-5 p-b-5">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading>
                        <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                    </uib-accordion-heading>
                    <div class="card">
                        <div class="card-body card-padding p-t-5 p-b-5">
                            <form id="CustomerInvoiceListCntrl.frmSearch" name="CustomerInvoiceListCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}" ng-submit="GetTableData(true)" novalidate>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Invoice No.</label>
                                            <input type="text"
                                                   ng-model="i.InvoiceNo" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Invoice Date</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="InvoiceDate" format="{{dateFormat}}"
                                                   min-date="date" ng-model="i.InvoiceDate">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Date From</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateFrom" format="{{dateFormat}}"
                                                   min-date="date" ng-model="i.dateFrom">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Date To</label>
                                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateTo" format="{{dateFormat}}"
                                                   min-date="date" ng-model="i.dateTo">
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-1">
                                        <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="row">
                <div class="table-responsive">
                    <div class="" style="min-height: 250px;">
                        <div class="table-responsive">
                            <table class="table table-vmiddle" ng-table="ngTblData">
                                <tr ng-repeat="w in $data">
                                    <td data-title="'#Action'">
                                        <button class="btn btn-default ng-scope waves-effect"
                                                type="button"
                                                ng-click="BroadCastInvoice({Invoiceno:w.InvoiceNo})"
                                                aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <!--<button type="button" ng-click="DeleteCustomerInvoice(Invoiceno);" ng-disabled="item.Status" class="btn btn-danger  waves-effect" aria-label="button">
                                            <i class="zmdi zmdi-delete" aria-hidden="true"></i>
                                        </button>-->
                                    </td>
                                    
                                    <td data-title="'Invoice No.'" sortable="'InvoiceNo'"><a style="cursor:pointer;" ng-click="BroadCastInvoice({Invoiceno:w.InvoiceNo})">{{w.InvoiceNo}}</a></td>
                                    
                                    <td data-title="'Invoice Date'" sortable="'InvoiceDate'">{{formatDate(w.InvoiceDate)}}</td>
                                    <td data-title="'Customer Name'" sortable="'CustomerName'">{{w.CustomerName}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-info" ng-click="refresh()"><i class="fa fa-refresh "></i> Refresh</button>
                </div>
            </div>
        </div>
    </div>
</div>
