﻿<div class="container" ng-controller="VendorQuotationCntrl">
    <form id="frmVendorQuotation"
          name="frmVendorQuotation"
          ng-class="{'submitted': submitted}"
          ng-submit="SaveVendorQuotation(cq)" novalidate>
        <input type="hidden" ng-model="cq.QuotationType" ng-init="cq.QuotationType = 3862" />
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">Vendor Quotation</h3>
            </div>
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="row">
                    <div class="col-xs-12">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab ng-repeat="tab in tabs" label="{{tab.title}}">
                                <md-content class="md-padding">
                                    <div class="card">
                                        <div class="card-body card-padding p-t-25 p-b-25"> <div ng-include="tab.content"></div>
                                </div></div></md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                </div><div class="row">
                    <div class="col-xs-12">
                        <div class="pull-left"><button type="submit" ng-click="submitted = true" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button></div>
                        <div class="pull-right"><button type="button" class="btn btn-primary" onclick="location.href = '#/MasterData/vendorquotation/list'"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back</button></div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
