﻿<div class="content" ng-controller="VendorQuotationCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h3 class="lvh-label">Vendor Quotation List</h3>
            <ul class="lv-actions actions">
                <li>
                    <button class="btn bgm-lightgreen btn-icon waves-effect waves-circle m-r-10" type="button" aria-label="button" ng-click="AddQuotation('NEW');">
                        <i class="zmdi zmdi-plus btn-small"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th>#Action</th>
                                    <th>Quotation No.</th>
                                    <th>Customer Code</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="q in quotationlist">
                                    <th>
                                        <button class="btn btn-default ng-scope waves-effect" type="button" ng-click="AddQuotation(q.QuotationNo);" aria-label="button">
                                            <i class="zmdi zmdi-edit" aria-hidden="true"></i>

                                        </button>
                                        <button class="btn btn-danger ng-scope waves-effect" type="button" ng-click="DeleteQuotation(q.QuotationNo);" aria-label="button">
                                            <i class="zmdi zmdi-delete" aria-hidden="true"></i>

                                        </button>
                                    </th>
                                    <th>{{q.QuotationNo}}</th>
                                    <th>{{q.CustomerCode}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <uib-pagination ng-model="currentPage"
                                                    total-items="totalItems"
                                                    ng-change="pageChanged()"
                                                    class="pagination-sm pull-right"
                                                    max-size="10"
                                                    items-per-page="limit">
                                    </uib-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" onclick="location.href = '#/home/'"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
