﻿
<div class="container" ng-controller="CustomerQuotationCntrl">
    <form id="frmCustomerQuotation"
          ng-submit="SaveCustomerQuotation(cq);"
          name="frmCustomerQuotation" ng-class="{'submitted': submitted}" novalidate>
        <input type="hidden" ng-model="cq.QuotationType" ng-init="cq.QuotationType = 3861" />
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label"><!--{{tab.title}}--> CUSTOMER QUOTATION</h3>
            </div>
            <div class="card-body card-padding p-t-5 p-b-5">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Quotation No.</label>
                            <input type="text" ng-model="cq.QuotationNo" ng-disabled="true" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Old Quotation No.</label>
                            <input type="text" ng-model="cq.OldQuotationNo" ng-disabled="true" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Prepared By</label>
                            <input type="text" ng-model="cq.CreatedBy" ng-disabled="true" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Quotation Date</label>
                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                                   min-date="date" ng-model="cq.QuotationDate"
                                   ng-required="true" ng-disabled="true">
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Effective Date</label>
                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                                   min-date="mindate" ng-model="cq.EffectiveDate"
                                   ng-required="true" ng-change="validateEffectivedate();">
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Expiry Date</label>
                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                                   min-date="mindate" ng-model="cq.ExpiryDate"
                                   ng-required="true" ng-change="validateEffectivedate();">
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Customer</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-class="{'loadinggif': cq.CustomerNameLoading}"
                                   ng-model="cq.CustomerName"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in CustomerResults($viewValue, 'ShipperConsignee')"
                                   typeahead-on-select="cq.CustomerCode = ($item.Value)"
                                   typeahead-loading="cq.CustomerNameLoading"
                                   typeahead-wait-ms="1000"
                                   typeahead-editable="false" ng-required="true" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Agent</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-class="{'loadinggif': cq.AgentNameLoading}"
                                   ng-model="cq.AgentName"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in AgentResults($viewValue, 'Liner')"
                                   typeahead-on-select="cq.AgentCode = ($item.Value)"
                                   typeahead-loading="cq.AgentNameLoading"
                                   typeahead-wait-ms="1000"
                                   typeahead-editable="false" ng-required="true" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Forwarder</label>
                            <input type="text"
                                   class="search-icon"
                                   ng-class="{'loadinggif': cq.ForwarderNameLoading}"
                                   ng-model="cq.ForwarderName"
                                   typeahead-min-length="3"
                                   uib-typeahead="d.Text as d.Text for d in AgentResults($viewValue, 'freightForwarder')"
                                   typeahead-on-select="cq.ForwarderCode = ($item.Value)"
                                   typeahead-loading="cq.ForwarderNameLoading"
                                   typeahead-wait-ms="1000"
                                   typeahead-editable="false" ng-required="true" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Trailer Detention Free Day</label>
                            <input type="text" ng-model="cq.TrailerDetentionFreeDays" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label"><!--{{tab.title}}--> Storage Rules</h3>
            </div>
            <div class="card-body card-padding p-t-5 p-b-5">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="checkbox m-b-15">
                            <md-switch class="md-primary"
                                       aria-label="Billing Required"
                                       ng-model="cq.IsBillingWarehouse"
                                       ng-init="cq.IsBillingWarehouse = false">
                                Billing Required
                            </md-switch>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Calculation Period</label>
                            <md-select ng-model="cq.CargoCalcPeriod">
                                <md-option ng-repeat="item in lookupData.calPeriodType" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Storage Section</label>
                            <md-select ng-model="cq.CargoStorageMethod">
                                <md-option ng-repeat="item in lookupData.storageType" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="checkbox m-b-15">
                            <md-switch class="md-primary"
                                       aria-label="CalendarWeek"
                                       ng-model="cq.CalendarWeek"
                                       ng-init="cq.CalendarWeek = false">
                                Calendar
                            </md-switch>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>custom</label>
                            <md-select ng-model="cq.CustomStorage">
                                <md-option ng-repeat="item in lookupData.custom" ng-value="item.Value">
                                    {{item.Text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Custom Storage Others</label>
                            <input type="text" class="form-control" ng-model="cq.CustomStorageOthers"></input>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label"><!--{{tab.title}}--> Cargo Storage Free Days</h3>
            </div>
            <div class="card-body card-padding p-t-5 p-b-5">
                <div class="row m-b-10">
                    <div class="col-xs-12 col-md-4">
                        <label>Normal</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <label>DG</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Export</label>
                            <input type="text" ng-model="cq.CargoFPExport" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" ng-model="cq.CargoFPExportDG" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Import</label>
                            <input type="text" ng-model="cq.CargoFPImport" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" ng-model="cq.CargoFPImportDG" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Local</label>
                            <input type="text" ng-model="cq.CargoFPLocal" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" ng-model="cq.CargoFPLocalDG" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label"><!--{{tab.title}}--> Container Storage Free Days</h3>
            </div>
            <div class="card-body card-padding p-t-5 p-b-5">
                <div class="row m-b-10">
                    <div class="col-xs-12 col-md-4">
                        <label>Normal</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <label>DG</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Export</label>
                            <input type="text" ng-model="cq.ContainerFPExport" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" ng-model="cq.ContainerFPExportDG" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Import</label>

                            <input type="text" ng-model="cq.ContainerFPImport" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" ng-model="cq.ContainerFPImportDG" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Local</label>
                            <input type="text" ng-model="cq.ContainerFPLocal" logicon-number logicon-limit maxlength="5" />
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" ng-model="cq.ContainerFPLocalDG" logicon-number logiconLimit maxlength="5" />
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label"><!--{{tab.title}}--> Details</h3>
            </div>
            <div class="card-body card-padding p-t-5 p-b-5">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-right"><button type="button" class="btn btn-primary m-b-10" ng-click="AddCQDetails(-1);"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>#Action</th>
                                        <th>Job</th>
                                        <th>Shipment Type</th>
                                        <th>Job Category</th>
                                        <th>Description</th>
                                        <th>Type Size </th>
                                        <th>Curr</th>
                                        <th>Sell Rate</th>
                                        <th>Est Cost</th>
                                        <th>Min. Amt.</th>
                                        <th>Max. Amt.</th>
                                        <th>Slab</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in cq.QuotationItems">
                                        <td>
                                            <button type="button" ng-click="AddCQDetails($index)" class="btn btn-default ng-scope waves-effect">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button ng-click="deleteCQDetails($index)" class="btn btn-danger ng-scope waves-effect">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <input type="hidden" ng-model="item.Index" ng-init="item.Index = $index" />
                                        </td>
                                        <td>{{item.JobTypeDescription}}</td>
                                        <td>{{item.ShipmentTypeDescription}}</td>
                                        <td>{{item.JobCategory}}</td>
                                        <td>{{item.Remarks}}</td>
                                        <td>{{item.Size}}- {{item.Type}}</td>
                                        <td>{{item.CurrencyCode}}</td>
                                        <td>{{item.SellRate}}</td>
                                        <td>{{item.EstCost}}</td>
                                        <td>{{item.MinAmt}}</td>
                                        <td>{{item.MaxAmnt}}</td>
                                        <td>{{item.IsSlabRate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 m-t-15">
                <div class="pull-left">
                    <button type="submit" class="btn btn-primary" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Browse</button>
                    <button type="button" class="btn btn-default"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                    <button type="button" class="btn btn-warning"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</button>
                    <button type="button" class="btn btn-success"><i class="fa fa-clone" aria-hidden="true"></i>&nbsp;Clone</button>
                    <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;Disapprove</button>
                    <button type="button" class="btn btn-warning"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Exit</button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary waves-effect" type="button" data-ui-sref="customerquotationlist" data-ng-click="mactrl.sidebarStat($event)" href="#/customerquotationlist">
                        <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
