﻿<div class="container" ng-controller="CustomerQuotationCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h3 class="lvh-label">
                Customer Quotation List
            </h3>
            <ul class="lv-actions actions">
                <li>
                    <button class="btn bgm-lightgreen btn-icon" data-ui-sref="customerquotation({quotation:NEW})" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-plus btn-small"></i></button>&nbsp;&nbsp;&nbsp;
                </li>
            </ul>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-vmiddle">
                            <thead>
                                <tr>
                                    <th>#Action</th>
                                    <th>Quotation No.</th>
                                    <th>Customer Name</th>
                                    <th>Quoted Date</th>
                                    <th>Effective</th>
                                    <th>Expiry</th>
                                    <th>Prepared By</th>
                                    <th>Status</th>
                                    <th>Approved By</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="q in quotationlist">
                                    <td>
                                        <button class="btn btn-default ng-scope waves-effect"
                                                type="button"
                                                data-ui-sref="customerquotation({quotation:q.QuotationNo})"
                                                aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="btn btn-danger ng-scope waves-effect" type="button" ng-click="DeleteQuotation(q.QuotationNo);" aria-label="button">
                                            <i class="zmdi zmdi-delete" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>{{q.QuotationNo}}</td>
                                    <td>{{q.CustomerName}}</td>
                                    <td>{{q.QuotedDate}}</td>
                                    <td>{{q.Effective}}</td>
                                    <td>{{q.Expiry}}</td>
                                    <td>{{q.PreparedBy}}</td>
                                    <td>{{q.Status}}</td>
                                    <td>{{q.ApprovedBy}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row m-t-10">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" onclick="location.href = '#/home/'"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
