﻿<div class="container" ng-controller="StandardTarrifCntrl">
    <form id="frmDiscountTariff" name="frmDiscountTariff" ng-class="{'submitted':submitted}" ng-submit="SaveDiscountTariff(th)" novalidate>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="lv-header-alt clearfix m-b-5">
                        <h2 class="lvh-label">Standard Tariff</h2>

                        <ul class="lv-actions actions">
                            <li>
                                <button type="button" class="btn bgm-lightgreen btn-icon m-r-10" ng-click="AddDetail(-1)"><i class="zmdi zmdi-plus btn-small"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body card-padding p-t-25 p-b-25">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Quotation No.</label>
                                    <input type="text"
                                           ng-model="th.QuotationNo" readonly="readonly" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-4">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Effective Date</label>
                                    <input mdc-datetime-picker="" date="true" class="date-icon" time="false" type="text" id="EffectiveDate" format="{{dateFormat}}"
                                           min-date="date" ng-model="th.EffectiveDate" ng-required="true">
                                </md-input-container>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Expiry Date</label>
                                    <input mdc-datetime-picker="" date="true" class="date-icon" time="false" type="text" id="ExpiryDate" format="{{dateFormat}}"
                                           min-date="date" ng-model="th.ExpiryDate">
                                </md-input-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-vmiddle">
                                        <thead>
                                            <tr>
                                                <th>#Action</th>
                                                <th>Tariff Mode</th>
                                                <th>Module</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th class="text-right">Tariff (RM)</th>
                                                <th width="5%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in th.tariffDetails">
                                                <td>
                                                    <button class="btn btn-default ng-scope waves-effect"
                                                            type="button"
                                                            ng-click="AddDetail($index)"
                                                            aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>

                                                    <button class="btn btn-danger ng-scope waves-effect"
                                                            type="button"
                                                            ng-click="DeleteDetail($index)"
                                                            aria-label="button" uib-tooltip="Delete" tooltip-placement="top">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                </td>
                                                <td>{{item.TariffModeDescription}}</td>
                                                <td>{{item.ModuleDescription}}</td>
                                                <td>{{item.SlabFrom}}</td>
                                                <td>{{item.SlabTo}}</td>
                                                <td class="text-right">{{item.Percentage | number: 2}}</td>
                                                <td></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">

                                <button type="submit" ng-click="submitted = true" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                                <!--<button type="button" class="btn btn-default pull-right" onclick="location.href = '#/owner'"><i class="fa fa-backward"></i>&nbsp;Back</button>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
