﻿<div class="container" ng-controller="ChargeCodeController">
    <form id="frmChargeCode" name="frmChargeCode" ng-class="{'submitted':submitted}" ng-submit="SaveChargeCode(cc);" novalidate>
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">CHARGE CODE MASTER</h3>
            </div>
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-include="'Js/MasterData/Templates/ChargeCode/chargecode.html'"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div ng-repeat="tab in tabs">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>{{tab.title}}</h4>
                                        </div>
                                    </div>
                                    <div ng-include="tab.content"></div>
                                </div>                                
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="submit" ng-click="submitted = true" class="btn btn-primary m-l-15 m-b-15"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                        <button type="button" class="btn btn-default  m-b-15 m-r-15" data-ui-sref="chargecodelist"><i class="fa fa-backward"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
