﻿<div class="container" ng-controller="AddCategoryctrl">
    <div class="row">
        <div class="col-xs-12">
            <form id="AddCategoryctrl.frmCategoryDetails" name="AddCategoryctrl.frmCategoryDetails" enctype="multipart/form-data" ng-class="{'submitted':submitted}" ng-submit="SaveCategory(category);" novalidate>
                <div class="card">
                    <div class="lv-header-alt clearfix m-b-5">
                        <h2 class="lvh-label">Add New Category</h2>
                    </div>
                    <div class="card-body card-padding p-t-5 p-b-5">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Category Code</label>
                                    <input type="text"
                                           ng-model="category.CategoryCode" ng-pattern="/[a-zA-Z0-9^ ]/"
                                           name="CategoryName" ng-maxlength="50" logicon-limit />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Category Description</label>
                                    <input type="text"
                                           ng-model="category.CategoryDescription"
                                           name="CategoryName"  logicon-limit />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row m-b-10">
                            <div class="col-xs-12 col-md-4 ">
                                <!--<img  id="img" ng-src="{{ImageFile}}/{{category.Id}}/{{category.Image}}" />-->
                                <img id="img" src="{{ImageFile}}/{{category.Image}}" width="120" height="120" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-4 text-right ">
                                <img id='img-upload' ng-model="category.Image" name="img-upload" />
                                <span class="fileinput fileinput-new pull-left m-l-10" data-provides="fileinput">
                                    <span class="btn btn-primary btn-file m-r-10">
                                        <span class="fileinput-new">Upload </span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file"
                                               id="imageUpload"
                                               name="imageUpload"
                                               ng-model="category.Image"
                                               onchange="angular.element(this).scope().fileChanged(this.files)">
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                </span>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-xs-12 col-xs-8">
                                <div class="text-right m-b-10">
                                    <button class="btn btn-primary" type="submit" ng-click="submitted = true;">Submit</button>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" data-ui-sref="Category" data-ng-click="mactrl.sidebarStat($event)">
                                <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back
                            </button>
                        </div>
                    </div>
                </div>
            </form>
</div>
        
        </div>
    </div>
