﻿<div class="container" ng-controller="Categoryctrl">
    <div class="row">
        <div class="col-xs-12">
            <form id="Categoryctrl.frmCategoryListDetails" name="Categoryctrl.frmCategoryListDetails" enctype="multipart/form-data" ng-class="{'submitted':submitted}" ng-submit="GetTableData();" novalidate>
                <div class="card">
                    <div class="lv-header-alt clearfix m-b-5">
                        <h2 class="lvh-label">Category List</h2>
                    </div>
                    <div class="card-body card-padding p-t-5 p-b-5">
                        <div class="row">
                            <div class="col-xs-4">
                                <button data-ui-sref="AddCategory" data-ng-click="mactrl.sidebarstat($even)" aria-label="button" class="btn btn-primary m-b-10" type="button"><i class="fa fa-plus"></i>&nbsp; Add NEW Categorys</button>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Search</label>
                                    <input type="text"
                                           class="search-icon"
                                           name="k1.DeclarantIDText"
                                           ng-required="true"
                                           ng-class="{'loadinggif': k1.DeclarantIDLoading}"
                                           ng-model="cat.CategoryDescription"
                                           typeahead-min-length="3"
                                           uib-typeahead="d.Text as d.Text for d in CustomDeclarantResults($viewValue)"
                                           typeahead-loading="k1.DeclarantIDLoading"
                                           typeahead-wait-ms="100"
                                           typeahead-editable="false"
                                           typeahead-on-select="CustomDeclarantSelected($item)" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-vmiddle" ng-table="ngTblData">
                                        <tbody>
                                            <tr ng-repeat="category in $data">
                                                <td data-title="'Category Description.'" sortable="'CategoryDescription'">{{category.CategoryDescription}}</td>
                                                <td data-title="'Image.'" sortable="'Image'">
                                                    {{category.Image}}
                                                    <img ng-src="{{Image}}/{{category.Id}}/{{category.Image}}" width="50" height="50" />
                                                </td>
                                                <td data-title="'#Action.'">
                                                    <button class="btn btn-default ng-scope waves-effect"
                                                            type="button"
                                                            data-ui-sref="AddCategory({id:category.Id,category:category.CategoryCode})"
                                                            aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>