﻿<div class="container" ng-controller="VesselProfileCntrl">
    <div class="card">
        <div  class="lv-header-alt clearfix m-b-5">
            <h3  class="lvh-label">k4(Inward)Ocean B/L</h3>
        </div>
        <div  class="card-body card-padding p-t-25 p-b-25">
            <div class="row" >
                <div class="col-xs-12 col-md-2">
                    <label>Shipping Agent Code</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <label></label>
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>User Job Number:</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <label>000000010900</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div  class="lv-header-alt clearfix m-b-5">
                            <h3  class="lvh-label">Carrier Information</h3>
                        </div>
                        <div  class="card-body card-padding p-t-25 p-b-25">
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Ship Call Number:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>RCEE</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label>Customs Station Code:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>B10 - WISMA KASTAM, PELABUHAN KLANG, SELANGOR</label>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Vessel ID:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>M1714</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label>Vessel Name:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>MAERSK DURHAM</label>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Inward Voyage Number:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>0703</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label>Mode Of Transport:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>By Sea</label>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>ETA:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>24/01/07 12:00</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label>ETD:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>24/01/07 22:00</label>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Port Operator Code:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>BKCT01</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label>Port Operator Name:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>Klang Containerised Terminal</label>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Port Name:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>North Port</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label>Port Of Loading:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>DEHAM - HAMBURG</label>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Port Of Discharge:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>MYPKG - PORT KLANG</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label>Country Of Origin:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>DE - Germany</label>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Ship Notice / Manifest No.:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>40100609</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h4>PRINCIPAL SHIPPING AGENT INFORMATION</h4>
                    <h5>(Shipping Agent Information is required here for House B/L submission)</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div  class="lv-header-alt clearfix m-b-5">
                            <h3  class="lvh-label">BILL OF LADING INFORMATION (Current B/L Sequence: 1)</h3>
                        </div>
                        <div  class="card-body card-padding p-t-25 p-b-25">
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Ocean Bill of lading:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>N/L</label>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Containerised Cargo:</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div  class="lv-header-alt clearfix m-b-5">
                            <h3  class="lvh-label">SHIPMENT INFORMATION</h3>
                        </div>
                        <div  class="card-body card-padding p-t-25 p-b-25">
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Cargo Type:</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="col-xs-12 col-md-2"></div>
                                <div class="col-xs-12 col-md-2">
                                    <label>Approval Authority:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-2">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <textarea class="form-control input-sm"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="card">
                        <div  class="lv-header-alt clearfix m-b-5">
                            <h3  class="lvh-label">SHIPPING AGENT INFORMATION</h3>
                        </div>
                        <div  class="card-body card-padding p-t-25 p-b-25">
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Shipping Agent Code:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="col-xs-12 col-md-2"></div>
                                
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Shipping Agent Name:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>                                
                            </div>                            
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Shipping Agent Address:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4"></div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4"></div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="card">
                        <div  class="lv-header-alt clearfix m-b-5">
                            <h3  class="lvh-label">CONSIGNEE AGENT INFORMATION</h3>
                        </div>
                        <div  class="card-body card-padding p-t-25 p-b-25">
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Consignee Code:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text"  />
                                </div>                                
                                <div class="col-md-1"></div>                                
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Organisation Type:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>                                
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Consignee Name:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>                                
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Consignee Address:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="card">
                        <div  class="lv-header-alt clearfix m-b-5">
                            <h3  class="lvh-label">CONSIGNOR INFORMATION</h3>
                        </div>
                        <div  class="card-body card-padding p-t-25 p-b-25">
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Consignor Code:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text"  />
                                </div>                                
                                <div class="col-md-1"></div>
                                
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Organisation Type:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>                                
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Consignor Name:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Consignor Address:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="card">
                        <div  class="lv-header-alt clearfix m-b-5">
                            <h3  class="lvh-label">NOTIFY PARTY INFORMATION</h3>
                        </div>
                        <div  class="card-body card-padding p-t-25 p-b-25">
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Notify Party Code:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text"  />
                                </div>                                
                                <div class="col-md-1"></div>
                                
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Notify Party Name:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>                                
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4">
                                    <label>Notify Party Address:</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-12 col-md-4"></div>                                
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" >
                <div class="col-xs-12">
                    <table class="table table-striped table-vmiddle">
                        <thead >
                            <tr>
                                <th>No.</th>
                                <th>Goods Item No.</th>
                                <th>No Of Packing</th>
                                <th>Type Of Packing</th>
                                <th>Xyx</th>
                                <th>Volume Of Goods</th>
                                <th>Gross Weight</th>
                                <th>UOM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4>Summary</h4>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12 col-md-2">
                    <label>Total Mass</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Total Gross Weight</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12 col-md-2">
                    <label>Total No. Of Packages</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Type Of Packages</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12 col-md-2">
                    <label>Total No. Of Containers:</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Total No. Of Cargos:</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
        </div>
    </div>
</div>
