﻿<div class="container" data-ng-controller="VesselProfileCntrl">

    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label">VESSEL LIST</h2>
            <ul class="lv-actions actions">
                <li>
                    <button class="btn bgm-lightgreen btn-icon" data-ui-sref="vesselprofile({vesselID:NEW})" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-plus btn-small"></i></button>&nbsp;&nbsp;&nbsp;
                </li>
            </ul>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <uib-accordion-heading>
                                <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                            </uib-accordion-heading>
                            <form id="VesselProfileCntrl.frmSearch" name="VesselProfileCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}"
                                  ng-submit="GetTableData(true)" novalidate>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="">
                                            <div class="card-body card-padding p-t-5 p-b-5">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Vessel ID</label>
                                                            <input type="text"
                                                                   ng-model="Search.VesselID" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Vessel Name</label>
                                                            <input type="text"
                                                                   ng-model="Search.VesselName" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Vessel Type</label>
                                                            <md-select ng-model="Search.VesselType">
                                                                <md-option md-option-empty></md-option>
                                                                <md-option ng-repeat="item in lookUpData.vesselTypeList" ng-value="item.Value">
                                                                    {{item.Text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Call Sign NO</label>
                                                            <input type="text"
                                                                   ng-model="Search.CallSignNo" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-vmiddle" ng-table="ngTblData">
                            <tbody>
                                <tr ng-repeat="v in $data">
                                    <td data-title="'#Action.'">
                                        <button class="btn btn-default ng-scope waves-effect"
                                                type="button"
                                                data-ui-sref="vesselprofile({vesselID:v.VesselID})"
                                                aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="btn btn-danger ng-scope waves-effect"
                                                type="button"
                                                ng-click="DeleteVessel(v.VesselID,v.VesselName)"
                                                aria-label="button" uib-tooltip="Delete" tooltip-placement="top">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </td>
                                    <!--<td><a data-ui-sref="vesselprofile({vesselID:v.VesselID})" uib-tooltip="Open" tooltip-placement="top">{{v.VesselID}}</a></td>
                                    <td>{{v.VesselName}}</td>-->

                                    <td data-title="'Vessel ID.'" sortable="'VesselID'">{{v.VesselID}}</td>
                                    <td data-title="'Vessel Name.'" sortable="'VesselName'">{{v.VesselName}}</td>
                                    <td data-title="'Vessel Type.'" sortable="'VesselType'">
                                        {{ (lookUpData.vesselTypeList | filter: { Value: v.VesselType })[0].Text  }}
                                    </td>
                                    <td data-title="'Call Sign NO.'" sortable="'CallSignNo'">{{v.CallSignNo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12" ng-if="vpList.length == 0">
                        <label>{{dataGridNorecords}}</label>
                    </div>
                </div>
            </div>
            <!--<div class="row" ng-show="orderentries.length > 0">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-primary" ng-click="ExportData('excel','application/vnd.ms-excel');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel</button>
                    <button type="button" class="btn btn-primary" ng-click="ExportData('pdf','application/pdf');"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Pdf</button>
                </div>
            </div>-->
        </div>
        <!--<div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>-->
    </div>

</div>




<!--<div class="container" ng-controller="VesselProfileCntrl">
    <div class="card">
        <div  class="lv-header-alt clearfix m-b-5">
            <h3  class="lvh-label">Vessel List</h3>
            <div class="box-tools">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddVessel('NEW');">
                    <i class="fa fa-plus fa-1x ng-scope"></i>

                </button>
            </div>
        </div>
        <div  class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-vmiddle">
                        <thead >
                            <tr>
                                <th>Vessel ID</th>
                                <th>Vessel Name</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="v in vpList">
                                <td>{{v.VesselID}}</td>
                                <td>{{v.VesselName}}</td>
                                <td style="padding: 0 0 0 5px">
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="AddVessel(v.VesselID);" aria-label="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

                                    </button>
                                    <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteVessel(v.VesselID)" aria-label="button">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>

                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12">
                    <uib-pagination ng-model="currentPage"
                                    total-items="totalItems"
                                    ng-change="pageChanged()"
                                    class="pagination-sm pull-right"
                                    max-size="10"
                                    items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
            <div class="row " ng-if="vpList.length == 0">
                <div class="col-xs-12">
                    <h4>No. data found.</h4>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>-->
