﻿<style type="text/css">
    .chartCss svg {
        width: 955px;
    }
</style>
<div class="content" ng-controller="CurrencyRateCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h3 class="lvh-label">Currency Rate</h3>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row pull-right" ng-show="currencyRateList.length > 0">
                <!---->
                <div class="col-xs-12">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-model="viewType" uib-btn-radio="'Chart'"><i class="fa fa-line-chart" aria-hidden="true"></i></label>
                        <label class="btn btn-default" ng-model="viewType" uib-btn-radio="'Table'"><i class="fa fa-table" aria-hidden="true"></i></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th>#Action</th>
                                            <th>Description</th>

                                        </tr>
                                    </thead>
                                    <tbody style="height:100px;overflow: auto;">
                                        <tr ng-repeat="item in currencyList">
                                            <td><button class="btn btn-default btn-sm" ng-click="addItem(item.id)"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add New</button></td>
                                            <td ng-click="GetItemDetails(item.CurrencyCode)">{{item.Description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <uib-pagination ng-model="currentPage"
                                            total-items="totalItems"
                                            ng-change="pageChanged()"
                                            class="pagination-sm pull-right"
                                            max-size="10"
                                            items-per-page="limit">
                            </uib-pagination>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Currency Code</label>
                                        <input type="text" ng-model="code" disabled="disabled" />
                                    </md-input-container>
                                    <!--<input type="text"  ng-model="code" disabled="disabled" />-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <md-input-container class="md-block">
                                        <label>Description</label>
                                        <textarea ng-model="description" disabled="disabled"></textarea>
                                    </md-input-container>
                                    <!--<textarea  ng-model="description" disabled="disabled"></textarea>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6" ng-show="currencyRateList.length > 0">
                    <div class="row chartCss" ng-show="viewType == 'Chart'">
                        <div class="col-xs-12">
                            <div line-chart
                                 line-data="lineChartData"
                                 line-xkey="yearMonth"
                                 line-ykeys="['exchangeRate']"
                                 line-labels="['AUD']"
                                 line-colors="['#31C0BE']"
                                 line-x-label-format="xLabelFormatFun"
                                 line-date-format="dateFormatFun">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="viewType == 'Table'">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-vmiddle">
                                    <thead >
                                        <tr>
                                            <th>#Action</th>
                                            <th>Expiry Date</th>
                                            <th>Exchange Rate</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in currencyRateList">
                                            <td>
                                                <span ng-hide="item.show"><button class="btn btn-primary btn-sm" ng-click="EditItem($index)"><i class="zmdi zmdi-edit" aria-hidden="true"></i>&nbsp;Edit</button></span>
                                                <span ng-show="item.show">
                                                    <button class="btn btn-primary btn-sm" ng-click="SaveItem($index)"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                                                    <button class="btn btn-primary btn-sm" ng-click="CancelItem($index)"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Cancel</button>
                                                </span>
                                            </td>
                                            <td>{{item.ExpiryDate | date:'medium'}}</td>
                                            <td>
                                                <span ng-hide="item.show">{{item.ExchangeRate}}</span>
                                                <input type="text" ng-show="item.show" ng-model="item.ExchangeRate" />
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <button class="btn btn-primary btn-sm" ng-click="SaveCurrencyList();">Save</button>
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </div>
                            <div class="col-md-6 text-right">
                                
                                    
                                <button class="btn btn-info ng-scope waves-effect"
                                        type="button"
                                        
                                        aria-label="button" uib-tooltip="Clear" tooltip-placement="top">
                                    Clear
                                </button>
                                <!--<button class="btn btn-info btn-sm">Clear</button>-->

                                <!--<button class="btn btn-default ng-scope waves-effect"
                                        type="button"
                                        onclick="location.href = '#/home/'"
                                        aria-label="button" uib-tooltip="Back" tooltip-placement="top">
                                    Back
                                </button>-->
                                <!--<button class="btn btn-warning btn-sm">Back</button>-->
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--<div line-chart
                         line-data='[
                                { y: "2006", a: 74, b: 47 },
                                { y: "2007", a: 83,  b: 70 },
                                { y: "2008", a: 54,  b: 92 },
                                { y: "2009", a: 31,  b: 53 },
                                { y: "2010", a: 92,  b: 83 },
                                { y: "2011", a: 30,  b: 42 },
                                { y: "2012", a: 11, b: 6 }
                            ]'
                         line-xkey='y'
                         line-ykeys='["a", "b"]'
                         line-labels='["Serie A", "Serie B"]'
                         line-colors='["#31C0BE", "#c7254e"]'>
                    </div>-->
<!--<div line-chart
     line-data='[{
            m: "2015-01",
            a: 0,
            b: 270
          }, {
            m: "2015-02",
            a: 54,
            b: 256
          }, {
            m: "2015-03",
            a: 243,
            b: 334
          }, {
            m: "2015-04",
            a: 206,
            b: 282
          }, {
            m: "2015-05",
            a: 161,
            b: 58
          }, {
            m: "2015-06",
            a: 187,
            b: 0
          }, {
            m: "2015-07",
            a: 210,
            b: 0
          }, {
            m: "2015-08",
            a: 204,
            b: 0
          }, {
            m: "2015-09",
            a: 224,
            b: 0
          }, {
            m: "2015-10",
            a: 301,
            b: 0
          }, {
            m: "2015-11",
            a: 262,
            b: 0
          }, {
            m: "2015-12",
            a: 199,
            b: 0
          }, ]'
     line-xkey='m'
     line-ykeys='["a", "b"]'
     line-labels='["2014", "2015"]'
     line-colors='["#31C0BE", "#c7254e"]'
     line-x-label-format="xLabelFormatFun"
     line-date-format="dateFormatFun">
</div>-->
