﻿<div class="container" ng-controller="BookingEntryCntrl">
    <form id="frmBookingEntry" name="frmBookingEntry" ng-class="{'submitted': submitted}" ng-submit="SaveBookingEntry(bookingHeader);" novalidate>
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">Booking Entry</h3>
            </div>
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="row">
                    <div class="col-xs-12">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" disable="tab.disabled" uib-tooltip="{{tab.tooltip}}">
                                <md-content class="md-padding">
                                <div ng-include="tab.content"></div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row" >
                    <div class="col-xs-12 col-md-9"></div>
                    <div class="col-md-2 pull-right">
                        <button class="btn btn-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button class="btn btn-default" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
                    </div>
                </div>
            </div>
            <div class="overlay" style="opacity: 0.8;" ng-show="showLoading" aria-hidden="true">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </form>
</div>
