﻿<div class="container" ng-controller="MerchantProfileController">
    <style type="text/css">
        .marginbottom {
            margin: 10px 0 0px 0 !important;
        }
    </style>
    <!--<script type="text/ng-template" id="customTemplate.html">
        <a  data-ui-sref="merchant({code:match.model.Value, taxID:match.model.TaxID, regNo:match.model.RegNo, isOriginal: (match.model.CompanyCode != match.model.UserCompanyCode)})" data-ng-click="mactrl.sidebarStat($event)">
            <i>{{match.model.Text}}</i>
        </a>
    </script>-->
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">

            <div class="box-tools">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="lvh-label">Merchant Profile List</h2>
                    </div>
                    <div class="col-md-2">
                        <md-input-container class="md-block marginbottom" flex-gt-sm>
                            <label>Merchant Type</label>
                            <md-select ng-model="search.filter">
                                <md-option value="forwardingAgent">
                                    Forwarding Agent
                                </md-option>
                                <md-option value="shippingAgent">
                                    Shipping Agent
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block marginbottom" flex-gt-sm>
                            <label>Merchant Name</label>
                            <!--<input type="text"
                            class="search-icon"
                            ng-model="search.text"
                            typeahead-min-length="3"
                            uib-typeahead="d.Value as d.Text for d in results($viewValue)"
                            typeahead-loading="loadingDeals"
                            typeahead-template-url="customTemplate.html"
                            typeahead-wait-ms="1000"
                            style="width: 300px;" />-->
                            <input type="text" ng-model="search.MerchantName" />
                        </md-input-container>
                    </div>
                    <div class="col-md-1">
                        <span>
                            <button class="btn btn-primary btn-sm" type="button" ng-click="GetTableData('admin');"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Search</button>
                        </span>
                    </div>
                    <div class="col-md-1">
                        <button class="btn bgm-lightgreen btn-icon pull-right m-r-10" data-ui-sref="merchant({code:NEW, taxID:NEW, regNo:NEW})" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-plus btn-small"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body card-padding p-t-5 p-b-5">
            <div class="row">
                <div class="col-xs-12">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="Advanced Search" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <uib-accordion-heading>
                                <i class="pull-left zmdi zmdi-hc-fw" ng-class="{'zmdi-minus': status.isFirstOpen, 'zmdi-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="">
                                        <div class="card-body card-padding p-t-5 p-b-5">
                                            <form id="MerchantProfileController.frmSearch" name="MerchantProfileController.frmSearch" ng-class="{'submitted': SearchSubmitted}"
                                                  ng-submit="GetTableData('user')" novalidate>
                                                <div class="row">
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Name</label>
                                                            <input type="text"
                                                                   ng-model="search.Name" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Reg No.</label>
                                                            <input type="text"
                                                                   ng-model="search.RegNo" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>GST No.</label>
                                                            <input type="text"
                                                                   ng-model="search.GSTNo" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12  col-md-4">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Agent Code</label>
                                                            <input type="text"
                                                                   ng-model="search.AgentCode" />
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-xs-12 col-md-1  text-right">
                                                        <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div style="min-height: 250px;">
                        <div class="table-responsive">
                            <table class="table table-vmiddle" ng-table="ngTblData">
                                <tr ng-repeat="w in $data">
                                    <td data-title="'#Action'">
                                        <button class="btn btn-default ng-scope waves-effect" ng-if="w.CompanyCode == CompanyID"
                                                type="button" data-ui-sref="merchant({code:w.MerchantCode, taxID:w.TaxID, regNo:w.RegNo, isOriginal: (w.CompanyCode != CompanyID) })" data-ng-click="mactrl.sidebarStat($event)"
                                                aria-label="button" uib-tooltip="Edit" tooltip-placement="top">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="btn btn-default ng-scope waves-effect" ng-if="w.CompanyCode != CompanyID"
                                                type="button" data-ui-sref="merchant({code:w.MerchantCode, taxID:w.TaxID, regNo:w.RegNo, isOriginal: (w.CompanyCode != CompanyID) })" data-ng-click="mactrl.sidebarStat($event)"
                                                aria-label="button" uib-tooltip="View" tooltip-placement="top">
                                            <i class="zmdi zmdi-view-dashboard"></i>
                                        </button>
                                        <button class="btn btn-danger ng-scope waves-effect" ng-if="w.CompanyCode == CompanyID"
                                                type="button"
                                                ng-click="DeleteMerchant(w.MerchantCode,w.MerchantName)" aria-label="button" uib-tooltip="Delete" tooltip-placement="top">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                        <button class="btn btn-primary ng-scope waves-effect" ng-if="w.CompanyCode != CompanyID"
                                                type="button"
                                                ng-click="InsertMerchantProfile(w.MerchantCode,w.TaxID,w.RegNo)" aria-label="button" uib-tooltip="Copy and Create New Merchant" tooltip-placement="top">
                                            <i class="zmdi zmdi-copy"></i>
                                        </button>
                                    </td>
                                    <td data-title="'Merchant Code'" sortable="'MerchantCode'">{{w.MerchantCode}}</td>
                                    <td data-title="'Merchant Name'" sortable="'MerchantName'">{{w.MerchantName}}</td>
                                    <td data-title="'Reg No'" sortable="'RegNo'">{{w.RegNo}}</td>
                                    <td data-title="'GST No'" sortable="'TaxID'">{{w.TaxID}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span>
                        <button type="button" class="btn btn-info" ng-click="refresh()"><i class="fa fa-refresh "></i> Refresh</button>
                    </span>
                    <!--<span class="pull-right">
                        <button class="btn btn-primary" type="button" onclick="location.href = '#/user'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>
                    </span>-->
                </div>
            </div>
        </div>
    </div>
</div>
