﻿<div class="container" ng-controller="CustomerCreditNoteCntrl">
    <div class="card">
        <div  class="lv-header-alt clearfix m-b-5">
            <h3  class="lvh-label">Customer Credit Note</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="AddCustomerCreditNote();">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div  class="card-body card-padding p-t-25 p-b-25">
            <div class="row" >
                <div class="col-xs-12 col-md-6">
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Customer</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="input-group">
                                <select ></select>
                                <span class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <input type="text"  />
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Remarks</label>
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <textarea ></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>C/N Date</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <label>Total Tax Amt.</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <input type="text"  />
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Currency</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <select ></select>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <label>Total Local Amt.</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <input type="text"  />
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Ex. Rate</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <input type="text"  />
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <label>Module</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <input type="text"  />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <div class="well well-sm" style="min-height: 250px;">
                         <div class="table-responsive"> <table class="table table-striped table-vmiddle">
                            <thead >
                                <tr>
                                    <th></th>
                                    <th>Invoice No.</th>
                                    <th>Order No.</th>
                                    <th>Size</th>
                                    <th>Job No.</th>
                                    <th>Charge Code</th>
                                    <th>Description</th>
                                    <th>Billing Unit</th>
                                    <th>Curr.</th>
                                    <th>Ex. Rate</th>
                                    <th>Qty.</th>
                                    <th>Price</th>
                                    <th>Base Amt.</th>
                                    <th>Local Amt.</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</div>
