﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 copyright">
            <div style="margin-bottom:3px;"><b>&copy 2017 DNeX<span style="font-style:italic;">PORT</span> Sdn Bhd.</b>  All rights reserved.</div>
            <a style="color:rgb(199, 56, 64);" href="http://www.dnex.com.my/privacy-policy/">Privacy policy</a>
            <div class="pull-right hidden-xs">
                {{appVersion}} <b>beta</b>
            </div>
        </div>
        <div class="col-md-3 version"><img src="img/logo.jpg" alt="logo" /></div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="font-size:10px; margin-top:2px;">
            This application is best viewed in the higher versions for : IE 11.0, Firefox 45.5.0, Google Chrome 50.0.0
        </div>
    </div>
</div>