﻿<div class="container" ng-controller="UnBilledOrdersCntrl">
    <div class="card">
        <div  class="lv-header-alt clearfix m-b-5">
            <h3  class="lvh-label">Unbilled Orders</h3>
        </div>
        <div  class="card-body card-padding p-t-25 p-b-25">
            <div class="row" >
                <div class="col-xs-12 col-md-6">
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Customer</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="input-group">
                                <select ></select>
                                <span class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <input type="text"  />
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Vessel ID</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="input-group">
                                <select ></select>
                                <span class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <input type="text"  />
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <div class="input-group">
                                <select ></select>
                                <span class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Charge Code</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <select ></select>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <input type="text"  />
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Customer No.</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <input type="text"  />
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <label>Customer Ref.</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <input type="text"  />
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Master Job No.</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <select ></select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Job Type</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <select ></select>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <label>Filter Date By</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Job Category</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <select ></select>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <label>From</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Module</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <select ></select>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <label>To</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <label>Movement</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <select ></select>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <label>Credit Term</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <select ></select>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-md-2">
                            <select ></select>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <select ></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <div class="well well-sm" style="min-height: 250px;">
                         <div class="table-responsive"> <table class="table table-striped table-vmiddle">
                            <thead >
                                <tr>
                                    <th></th>
                                    <th>Alert</th>
                                    <th>Order No.</th>
                                    <th>Order Date</th>
                                    <th>Job</th>
                                    <th>Shp</th>
                                    <th>Job Category</th>
                                    <th>Transport Type</th>
                                    <th>Customer Name</th>
                                    <th>Master Job No.</th>
                                    <th>Pickup From</th>
                                    <th>Deliver To</th>
                                    <th>Zone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table></div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <div class="well well-sm" style="min-height: 250px;">
                         <div class="table-responsive"> <table class="table table-striped table-vmiddle">
                            <thead >
                                <tr>
                                    <th>Container No.</th>
                                    <th>Size</th>
                                    <th>Job No.</th>
                                    <th>Package</th>
                                    <th>Charge Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Est Sell</th>
                                    <th>Act Sell</th>
                                    <th>Balance</th>
                                    <th>Int</th>
                                    <th>Zone</th>
                                    <th>Area Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</div>
