﻿<div class="container" ng-controller="DeclarationClauseController">
     <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h2 class="lvh-label"> Declartion Clause</h2>
            </div>
            <div class="card-body card-padding p-t-5 p-b-5">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Clause Code</label>
                                    <md-select ng-model="clause.ClauseCode" name="clause.ClauseCode"
                                               ng-change="GetByClauseCode(clause.ClauseCode)">
                                        <md-option ng-repeat="item in lookUpData" ng-value="item.Value">
                                            {{item.Text}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <md-input-container class="md-block">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Clause Text</label>
                                        <textarea rows="5" ng-model="clause.ClauseText" name="clause.ClauseText"></textarea>
                                    </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12 text-right">
                                <button type="button" class="btn btn-primary" ng-click="SaveClause(clause)">&nbsp;Save Clause</button>
                           </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>